<a id="top" name="top"></a>
<div id="AppLayout">
  
  <section id="AppHeader">
    <header class="inner">
      <div id="AppBranding">
        <button id="AppNavToggle" onclick="toggleDrawer()"></button>
        <a id="AppLogo" href="/hc/en-us"><img src="{{asset 'content-solutions-dark.svg'}}" /></a>
        <p id="AppProduct"><span>Extranet Help</span></p>
      </div>
      <div id="AppSearch">
        {{search submit=false instant=settings.instant_search}}
      </div>
    </header>
  </section>

      
  <section id="AppNav">
    <nav class="inner">
      <a href="/hc/en-us/requests/new">Contact Support</a>
      <a href="/hc/en-us/sections/360008463631-Quick-Start-Guide">Quick Start Guide</a>
      <a href="/hc/en-us/sections/360008355672-Documentation">Documentation</a>
      <a href="/hc/en-us/sections/360008463611-Release-Notes">Release Notes</a>
      <a href="/hc/en-us/sections/360008355692-Technical-Bulletin">Technical Bulletin</a>
      <a href="/hc/en-us/sections/360008355712-FAQ">FAQs</a>
    </nav>
  </section>
  
    
  <section id="AppPage">
  <a href="#content" tabindex="1" style="display:none">{{t 'skip_navigation' }}</a>
  <div class="inner">
  
