@mixin ellipsis($line: 1) {
  @if $line==1{
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
  } @else {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $line;
    overflow: hidden;
  }
}

//.ellipsis-single{
//  @include ellipsis(1);
//}

// default line is 2，change line for use property `-webkit-line-clamp`
//.ellipsis-multi{
//  @include ellipsis(2);
//}