@font-face { font-display: fallback; font-family: 'Lato'; src: url("https://cdn.cnetcontent.com/sites/fonts/LatoLatin-Thin.eot"); src: local("Lato Thin"), url("https://cdn.cnetcontent.com/sites/fonts/LatoLatin-Thin.eot?#iefix") format("embedded-opentype"), url("https://cdn.cnetcontent.com/sites/fonts/LatoLatin-Thin.woff2") format("woff2"), url("https://cdn.cnetcontent.com/sites/fonts/LatoLatin-Thin.woff") format("woff"), url("https://cdn.cnetcontent.com/sites/fonts/LatoLatin-Thin.ttf") format("truetype"); font-style: normal; font-weight: 200; text-rendering: optimizeLegibility; }

@font-face { font-display: fallback; font-family: 'Lato'; src: url("https://cdn.cnetcontent.com/sites/fonts/LatoLatin-ThinItalic.eot"); src: local("Lato Thin Italic"), url("https://cdn.cnetcontent.com/sites/fonts/LatoLatin-ThinItalic.eot?#iefix") format("embedded-opentype"), url("https://cdn.cnetcontent.com/sites/fonts/LatoLatin-ThinItalic.woff2") format("woff2"), url("https://cdn.cnetcontent.com/sites/fonts/LatoLatin-ThinItalic.woff") format("woff"), url("https://cdn.cnetcontent.com/sites/fonts/LatoLatin-ThinItalic.ttf") format("truetype"); font-style: italic; font-weight: 200; text-rendering: optimizeLegibility; }

@font-face { font-family: 'Lato'; src: url("https://cdn.cnetcontent.com/sites/fonts/LatoLatin-Light.eot"); src: local("Lato Light"), url("https://cdn.cnetcontent.com/sites/fonts/LatoLatin-Light.eot?#iefix") format("embedded-opentype"), url("https://cdn.cnetcontent.com/sites/fonts/LatoLatin-Light.woff2") format("woff2"), url("https://cdn.cnetcontent.com/sites/fonts/LatoLatin-Light.woff") format("woff"), url("https://cdn.cnetcontent.com/sites/fonts/LatoLatin-Light.ttf") format("truetype"); font-style: normal; font-weight: 300; text-rendering: optimizeLegibility; }

@font-face { font-display: fallback; font-family: 'Lato'; src: url("https://cdn.cnetcontent.com/sites/fonts/LatoLatin-LightItalic.eot"); src: local("Lato Light Italic"), url("https://cdn.cnetcontent.com/sites/fonts/LatoLatin-LightItalic.eot?#iefix") format("embedded-opentype"), url("https://cdn.cnetcontent.com/sites/fonts/LatoLatin-LightItalic.woff2") format("woff2"), url("https://cdn.cnetcontent.com/sites/fonts/LatoLatin-LightItalic.woff") format("woff"), url("https://cdn.cnetcontent.com/sites/fonts/LatoLatin-LightItalic.ttf") format("truetype"); font-style: italic; font-weight: 300; text-rendering: optimizeLegibility; }

@font-face { font-display: fallback; font-family: 'Lato'; src: url("https://cdn.cnetcontent.com/sites/fonts/LatoLatin-Regular.eot"); src: local("Lato Regular"), url("https://cdn.cnetcontent.com/sites/fonts/LatoLatin-Regular.eot?#iefix") format("embedded-opentype"), url("https://cdn.cnetcontent.com/sites/fonts/LatoLatin-Regular.woff2") format("woff2"), url("https://cdn.cnetcontent.com/sites/fonts/LatoLatin-Regular.woff") format("woff"), url("https://cdn.cnetcontent.com/sites/fonts/LatoLatin-Regular.ttf") format("truetype"); font-style: normal; font-weight: 400; text-rendering: optimizeLegibility; }

@font-face { font-display: fallback; font-family: 'Lato'; src: url("https://cdn.cnetcontent.com/sites/fonts/LatoLatin-Italic.eot"); src: local("Lato Italic"), url("https://cdn.cnetcontent.com/sites/fonts/LatoLatin-Italic.eot?#iefix") format("embedded-opentype"), url("https://cdn.cnetcontent.com/sites/fonts/LatoLatin-Italic.woff2") format("woff2"), url("https://cdn.cnetcontent.com/sites/fonts/LatoLatin-Italic.woff") format("woff"), url("https://cdn.cnetcontent.com/sites/fonts/LatoLatin-Italic.ttf") format("truetype"); font-style: italic; font-weight: 400; text-rendering: optimizeLegibility; }

@font-face { font-display: fallback; font-family: 'Lato'; src: url("https://cdn.cnetcontent.com/sites/fonts/LatoLatin-Medium.eot"); src: local("Lato Medium"), url("https://cdn.cnetcontent.com/sites/fonts/LatoLatin-Medium.eot?#iefix") format("embedded-opentype"), url("https://cdn.cnetcontent.com/sites/fonts/LatoLatin-Medium.woff2") format("woff2"), url("https://cdn.cnetcontent.com/sites/fonts/LatoLatin-Medium.woff") format("woff"), url("https://cdn.cnetcontent.com/sites/fonts/LatoLatin-Medium.ttf") format("truetype"); font-style: normal; font-weight: 500; text-rendering: optimizeLegibility; }

@font-face { font-display: fallback; font-family: 'Lato'; src: url("https://cdn.cnetcontent.com/sites/fonts/LatoLatin-MediumItalic.eot"); src: local("Lato Medium Italic"), url("https://cdn.cnetcontent.com/sites/fonts/LatoLatin-MediumItalic.eot?#iefix") format("embedded-opentype"), url("https://cdn.cnetcontent.com/sites/fonts/LatoLatin-MediumItalic.woff2") format("woff2"), url("https://cdn.cnetcontent.com/sites/fonts/LatoLatin-MediumItalic.woff") format("woff"), url("https://cdn.cnetcontent.com/sites/fonts/LatoLatin-MediumItalic.ttf") format("truetype"); font-style: italic; font-weight: 500; }

@font-face { font-display: fallback; font-family: 'Lato'; src: url("https://cdn.cnetcontent.com/sites/fonts/LatoLatin-Semibold.eot"); src: local("Lato Semibold"), url("https://cdn.cnetcontent.com/sites/fonts/LatoLatin-Semibold.eot?#iefix") format("embedded-opentype"), url("https://cdn.cnetcontent.com/sites/fonts/LatoLatin-Semibold.woff2") format("woff2"), url("https://cdn.cnetcontent.com/sites/fonts/LatoLatin-Semibold.woff") format("woff"), url("https://cdn.cnetcontent.com/sites/fonts/LatoLatin-Semibold.ttf") format("truetype"); font-style: normal; font-weight: 600; }

@font-face { font-display: fallback; font-family: 'Lato'; src: url("https://cdn.cnetcontent.com/sites/fonts/LatoLatin-SemiboldItalic.eot"); src: local("Lato Semibold Italic"), url("https://cdn.cnetcontent.com/sites/fonts/LatoLatin-SemiboldItalic.eot?#iefix") format("embedded-opentype"), url("https://cdn.cnetcontent.com/sites/fonts/LatoLatin-SemiboldItalic.woff2") format("woff2"), url("https://cdn.cnetcontent.com/sites/fonts/LatoLatin-SemiboldItalic.woff") format("woff"), url("https://cdn.cnetcontent.com/sites/fonts/LatoLatin-SemiboldItalic.ttf") format("truetype"); font-style: italic; font-weight: 600; }

@font-face { font-display: fallback; font-family: 'Lato'; src: url("https://cdn.cnetcontent.com/sites/fonts/LatoLatin-Bold.eot"); src: local("Lato Bold"), url("https://cdn.cnetcontent.com/sites/fonts/LatoLatin-Bold.eot?#iefix") format("embedded-opentype"), url("https://cdn.cnetcontent.com/sites/fonts/LatoLatin-Bold.woff2") format("woff2"), url("https://cdn.cnetcontent.com/sites/fonts/LatoLatin-Bold.woff") format("woff"), url("https://cdn.cnetcontent.com/sites/fonts/LatoLatin-Bold.ttf") format("truetype"); font-style: normal; font-weight: 700; }

@font-face { font-display: fallback; font-family: 'Lato'; src: url("https://cdn.cnetcontent.com/sites/fonts/LatoLatin-BoldItalic.eot"); src: local("Lato Bold Italic"), url("https://cdn.cnetcontent.com/sites/fonts/LatoLatin-BoldItalic.eot?#iefix") format("embedded-opentype"), url("https://cdn.cnetcontent.com/sites/fonts/LatoLatin-BoldItalic.woff2") format("woff2"), url("https://cdn.cnetcontent.com/sites/fonts/LatoLatin-BoldItalic.woff") format("woff"), url("https://cdn.cnetcontent.com/sites/fonts/LatoLatin-BoldItalic.ttf") format("truetype"); font-style: italic; font-weight: 700; }

@font-face { font-display: fallback; font-family: 'Lato'; src: url("https://cdn.cnetcontent.com/sites/fonts/LatoLatin-Black.eot"); src: local("Lato Black"), url("https://cdn.cnetcontent.com/sites/fonts/LatoLatin-Black.eot?#iefix") format("embedded-opentype"), url("https://cdn.cnetcontent.com/sites/fonts/LatoLatin-Black.woff2") format("woff2"), url("https://cdn.cnetcontent.com/sites/fonts/LatoLatin-Black.woff") format("woff"), url("https://cdn.cnetcontent.com/sites/fonts/LatoLatin-Black.ttf") format("truetype"); font-style: normal; font-weight: 900; }

@font-face { font-display: fallback; font-family: 'Lato'; src: url("https://cdn.cnetcontent.com/sites/fonts/LatoLatin-BlackItalic.eot"); src: local("Lato Black Italic"), url("https://cdn.cnetcontent.com/sites/fonts/LatoLatin-BlackItalic.eot?#iefix") format("embedded-opentype"), url("https://cdn.cnetcontent.com/sites/fonts/LatoLatin-BlackItalic.woff2") format("woff2"), url("https://cdn.cnetcontent.com/sites/fonts/LatoLatin-BlackItalic.woff") format("woff"), url("https://cdn.cnetcontent.com/sites/fonts/LatoLatin-BlackItalic.ttf") format("truetype"); font-style: italic; font-weight: 900; }

@font-face { font-display: fallback; font-family: 'Roboto Mono'; font-style: normal; font-weight: 400; src: url("https://cdn.cnetcontent.com/sites/fonts/Roboto-Mono-Regular.eot"); src: local("Roboto Mono"), local("RobotoMono-Regular"), url("https://cdn.cnetcontent.com/sites/fonts/Roboto-Mono-Regular.eot?#iefix") format("embedded-opentype"), url("https://cdn.cnetcontent.com/sites/fonts/Roboto-Mono-Regular.woff2") format("woff2"), url("https://cdn.cnetcontent.com/sites/fonts/Roboto-Mono-Regular.woff") format("woff"), url("https://cdn.cnetcontent.com/sites/fonts/Roboto-Mono-Regular.ttf") format("truetype"), url("https://cdn.cnetcontent.com/sites/fonts/Roboto-Mono-Regular.svg#RobotoMono") format("svg"); text-rendering: optimizeLegibility; text-transform: none; }

@font-face { font-display: fallback; font-family: 'Material Icons'; font-style: normal; font-weight: 400; src: url("https://cdn.cnetcontent.com/sites/fonts/MaterialIcons-Regular.eot?#iefix"); src: local("Material Icons"), local("MaterialIcons-Regular"), url("https://cdn.cnetcontent.com/sites/fonts/MaterialIcons-Regular.woff2") format("woff2"), url("https://cdn.cnetcontent.com/sites/fonts/MaterialIcons-Regular.woff") format("woff"), url("https://cdn.cnetcontent.com/sites/fonts/MaterialIcons-Regular.ttf") format("truetype"); text-rendering: optimizeLegibility; text-transform: none; }

.ccs-icons { align-items: center; direction: ltr; display: flex; font-family: 'Material Icons'; font-feature-settings: 'liga'; font-size: 24px; font-style: normal; font-weight: normal; justify-content: center; letter-spacing: normal; line-height: 1; outline: none; text-align: center; text-indent: 0; text-transform: none; vertical-align: middle; white-space: nowrap; word-wrap: normal; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.text-primary { color: #25A; }

.background-primary { background-color: #d5e1f7; }

.text-secondary { color: #390; }

.background-secondary { background-color: #bbff99; }

.text-success { color: #390; }

.background-success { background-color: #77ff33; }

.text-warning { color: #D34; }

.background-warning { background-color: #f3b6bc; }

.text-danger { color: #D34; }

.background-danger { background-color: #fef8f8; }

.text-muted { color: #89A; }

.background-muted { background-color: #f0f2f4; }

::-moz-selection { background: rgba(221, 238, 255, 0.8); }

::selection { background: rgba(221, 238, 255, 0.8); }

html { line-height: 1.15; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }

body { margin: 0; }

article, aside, footer, header, nav, section { display: block; }

h1 { font-size: 2rem; margin: .8rem 0; }

p { margin: .8rem 0; }

figcaption, figure, main { display: block; }

figure { margin: 1.6rem 4rem; }

hr { box-sizing: content-box; height: 0; overflow: visible; }

pre { font-family: monospace,monospace; font-size: 1rem; }

a { background-color: transparent; -webkit-text-decoration-skip: objects; }

abbr[title] { border-bottom: none; text-decoration: underline; -webkit-text-decoration: underline dotted; text-decoration: underline dotted; }

b, strong { font-weight: inherit; }

b, strong { font-weight: bolder; }

code, kbd, samp { font-family: Roboto Mono, monospace, monospace; font-size: 1rem; }

dfn { font-style: italic; }

mark { background-color: #ff0; color: #000; }

small { font-size: 80%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sub { bottom: -.24em; }

sup { top: -.4em; }

audio, video { display: inline-block; }

audio:not([controls]) { display: none; height: 0; }

img { border-style: none; }

svg:not(:root) { overflow: hidden; }

button, input, optgroup, select, textarea { font-family: Lato, sans-serif; font-size: 100%; line-height: 1.15; margin: 0; }

button, input { overflow: visible; }

button, select { text-transform: none; }

[type=reset], [type=submit], button, html [type=button] { -webkit-appearance: button; }

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner { border-style: none; padding: 0; }

[type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring, button:-moz-focusring { outline: 1px dotted ButtonText; }

fieldset { padding: .32rem .72rem .624rem; }

legend { box-sizing: border-box; color: inherit; display: table; max-width: 100%; padding: 0; white-space: normal; }

progress { display: inline-block; vertical-align: baseline; }

textarea { overflow: auto; }

[type=checkbox], [type=radio] { box-sizing: border-box; padding: 0; }

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button { height: auto; }

[type=search] { -webkit-appearance: textfield; outline-offset: -2px; }

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration { -webkit-appearance: none; }

::-webkit-file-upload-button { -webkit-appearance: button; font: inherit; }

details, menu { display: block; }

summary { display: list-item; }

canvas { display: inline-block; }

template { display: none; }

[hidden] { display: none; }

html { box-sizing: border-box; }

*, *:before, *:after { box-sizing: inherit; }

.row { display: flex; flex-flow: row wrap; margin-bottom: 1rem; margin-left: auto; margin-right: auto; }

.row.flex-right { justify-content: flex-end; }

.row.flex-center { justify-content: center; }

.row.flex-edges { justify-content: space-between; }

.row.flex-spaces { justify-content: space-around; }

.row.flex-top { align-items: flex-start; }

.row.flex-middle { align-items: center; }

.row.flex-bottom { align-items: flex-end; }

.col { padding: 1rem; }

@media only screen and (max-width: 768px) { .col { flex: 0 0 100%; max-width: 100%; } }

.col-fill { flex: 1 1 0; width: auto; }

@media only screen and (min-width: 0) { .col-1 { flex: 0 0 8.3333333333%; max-width: 8.3333333333%; } .col-2 { flex: 0 0 16.6666666667%; max-width: 16.6666666667%; } .col-3 { flex: 0 0 25%; max-width: 25%; } .col-4 { flex: 0 0 33.3333333333%; max-width: 33.3333333333%; } .col-5 { flex: 0 0 41.6666666667%; max-width: 41.6666666667%; } .col-6 { flex: 0 0 50%; max-width: 50%; } .col-7 { flex: 0 0 58.3333333333%; max-width: 58.3333333333%; } .col-8 { flex: 0 0 66.6666666667%; max-width: 66.6666666667%; } .col-9 { flex: 0 0 75%; max-width: 75%; } .col-10 { flex: 0 0 83.3333333333%; max-width: 83.3333333333%; } .col-11 { flex: 0 0 91.6666666667%; max-width: 91.6666666667%; } .col-12 { flex: 0 0 100%; max-width: 100%; } }

@media only screen and (min-width: 480px) { .xs-1 { flex: 0 0 8.3333333333%; max-width: 8.3333333333%; } .xs-2 { flex: 0 0 16.6666666667%; max-width: 16.6666666667%; } .xs-3 { flex: 0 0 25%; max-width: 25%; } .xs-4 { flex: 0 0 33.3333333333%; max-width: 33.3333333333%; } .xs-5 { flex: 0 0 41.6666666667%; max-width: 41.6666666667%; } .xs-6 { flex: 0 0 50%; max-width: 50%; } .xs-7 { flex: 0 0 58.3333333333%; max-width: 58.3333333333%; } .xs-8 { flex: 0 0 66.6666666667%; max-width: 66.6666666667%; } .xs-9 { flex: 0 0 75%; max-width: 75%; } .xs-10 { flex: 0 0 83.3333333333%; max-width: 83.3333333333%; } .xs-11 { flex: 0 0 91.6666666667%; max-width: 91.6666666667%; } .xs-12 { flex: 0 0 100%; max-width: 100%; } }

@media only screen and (min-width: 768px) { .sm-1 { flex: 0 0 8.3333333333%; max-width: 8.3333333333%; } .sm-2 { flex: 0 0 16.6666666667%; max-width: 16.6666666667%; } .sm-3 { flex: 0 0 25%; max-width: 25%; } .sm-4 { flex: 0 0 33.3333333333%; max-width: 33.3333333333%; } .sm-5 { flex: 0 0 41.6666666667%; max-width: 41.6666666667%; } .sm-6 { flex: 0 0 50%; max-width: 50%; } .sm-7 { flex: 0 0 58.3333333333%; max-width: 58.3333333333%; } .sm-8 { flex: 0 0 66.6666666667%; max-width: 66.6666666667%; } .sm-9 { flex: 0 0 75%; max-width: 75%; } .sm-10 { flex: 0 0 83.3333333333%; max-width: 83.3333333333%; } .sm-11 { flex: 0 0 91.6666666667%; max-width: 91.6666666667%; } .sm-12 { flex: 0 0 100%; max-width: 100%; } }

@media only screen and (min-width: 992px) { .md-1 { flex: 0 0 8.3333333333%; max-width: 8.3333333333%; } .md-2 { flex: 0 0 16.6666666667%; max-width: 16.6666666667%; } .md-3 { flex: 0 0 25%; max-width: 25%; } .md-4 { flex: 0 0 33.3333333333%; max-width: 33.3333333333%; } .md-5 { flex: 0 0 41.6666666667%; max-width: 41.6666666667%; } .md-6 { flex: 0 0 50%; max-width: 50%; } .md-7 { flex: 0 0 58.3333333333%; max-width: 58.3333333333%; } .md-8 { flex: 0 0 66.6666666667%; max-width: 66.6666666667%; } .md-9 { flex: 0 0 75%; max-width: 75%; } .md-10 { flex: 0 0 83.3333333333%; max-width: 83.3333333333%; } .md-11 { flex: 0 0 91.6666666667%; max-width: 91.6666666667%; } .md-12 { flex: 0 0 100%; max-width: 100%; } }

@media only screen and (min-width: 1200px) { .lg-1 { flex: 0 0 8.3333333333%; max-width: 8.3333333333%; } .lg-2 { flex: 0 0 16.6666666667%; max-width: 16.6666666667%; } .lg-3 { flex: 0 0 25%; max-width: 25%; } .lg-4 { flex: 0 0 33.3333333333%; max-width: 33.3333333333%; } .lg-5 { flex: 0 0 41.6666666667%; max-width: 41.6666666667%; } .lg-6 { flex: 0 0 50%; max-width: 50%; } .lg-7 { flex: 0 0 58.3333333333%; max-width: 58.3333333333%; } .lg-8 { flex: 0 0 66.6666666667%; max-width: 66.6666666667%; } .lg-9 { flex: 0 0 75%; max-width: 75%; } .lg-10 { flex: 0 0 83.3333333333%; max-width: 83.3333333333%; } .lg-11 { flex: 0 0 91.6666666667%; max-width: 91.6666666667%; } .lg-12 { flex: 0 0 100%; max-width: 100%; } }

.align-top { align-self: flex-start; }

.align-middle { align-self: center; }

.align-bottom { align-self: flex-end; }

.container { margin: 0 auto; max-width: calc(1200px - 2rem); position: relative; width: 100%; }

@media only screen and (max-width: 992px) { .container { width: 85%; } }

@media only screen and (max-width: 480px) { .container { width: 90%; } }

.section { margin-bottom: 2rem; margin-top: 1rem; word-wrap: break-word; }

hr { background: #cfd9db; border: 0; height: 1px; margin: 2.4rem -1.6rem; }

.paper { background-color: white; border: 1px solid #d5e1f7; box-shadow: -1px 5px 35px -9px rgba(0, 0, 0, 0.2); margin-bottom: 1rem; margin-top: 1rem; padding: 2rem; }

@media only screen and (max-width: 480px) { .paper { margin-bottom: 0; margin-top: 0; padding: 1rem; width: 100%; } }

img { display: block; height: auto; max-width: 100%; }

img.float-left { float: left; margin: 1rem 1rem 1rem 0; }

img.float-right { float: right; margin: 1rem 0 1rem 1rem; }

img.no-responsive { display: initial; height: initial; max-width: initial; }

img.no-border { border: 0; border-radius: 0; }

ol { margin-left: 0; padding-left: 1.6rem; margin: .8rem 0; }

ol li { padding-left: .4rem; margin-top: 1.6rem; }

ul { padding-left: 2.4rem; margin: .8rem 0; }

ul li { margin-top: 1.6rem; }

ul li .badge, ul li [popover-bottom]::after, ul li [popover-left]::after, ul li [popover-right]::after, ul li [popover-top]::after { text-indent: 0; }

ul.inline li { display: inline; margin-left: 5px; }

table { box-sizing: border-box; max-width: 100%; overflow-x: auto; width: 100%; }

@media only screen and (max-width: 480px) { table thead tr th { padding: 2%; } table tbody tr td { padding: 2%; } }

table thead tr th { line-height: 1.5; padding: 8px; text-align: left; vertical-align: bottom; }

table tbody tr td { border-top: 1px dashed white; line-height: 1.5; padding: 8px; vertical-align: top; }

table.table-hover tbody tr:hover { color: #390; }

table.table-alternating tbody tr:nth-of-type(even) { color: #6a97e1; }

:root { vertical-align: baseline; -webkit-font-smoothing: subpixel-antialiased; font-feature-settings: "kern" on, "liga" on, "calt" on, "pnum"; text-rendering: optimizeLegibility; }

html { color: #495867; font-family: Lato, sans-serif, sans-serif; font-size: 62.5%; }

p, a, button, table, thead, tbody, th, tr, td, input, textarea, select, option { font-family: Lato, sans-serif, sans-serif; font-style: inherit; font-weight: inherit; font-size: 100%; }

h1, h2, h3, h4, h5, h6 { font-family: Lato, sans-serif, sans-serif; font-weight: normal; color: #123; }

h1, h2, h3, h4, h5, h6 { font-size: 1.2em; font-weight: 700; }

a { color: currentColor; font-weight: 600; }

b, strong { color: #123; font-weight: 700; }

small { font-size: 1.2rem; font-weight: 500; letter-spacing: .01em; }

.text-left { text-align: left; }

.text-center { text-align: center; }

.text-right { text-align: right; }

.ccs-ripple { position: relative; overflow: hidden; transform: translate3d(0, 0, 0); }

.ccs-ripple:before { content: ""; display: block; position: absolute; width: 100%; height: 100%; top: 0; left: 0; pointer-events: none; background-image: radial-gradient(circle, #000 10%, transparent 10.01%); background-repeat: no-repeat; background-position: 50%; transform: scale(10, 10); opacity: 0; transition: transform .5s, opacity 1s; }

.ccs-ripple:active:before { transform: scale(0, 0); opacity: .2; transition: 0s; }

.shadow { transition: all 235ms ease 0s; box-shadow: 15px 28px 25px -18px rgba(0, 0, 0, 0.2); }

.shadow.shadow-large { transition: all 235ms ease 0s; box-shadow: 20px 38px 34px -26px rgba(0, 0, 0, 0.2); }

.shadow.shadow-small { transition: all 235ms ease 0s; box-shadow: 10px 19px 17px -13px rgba(0, 0, 0, 0.2); }

.shadow.shadow-hover:hover { transform: translate3d(0, 2px, 0); box-shadow: 2px 8px 8px -5px rgba(0, 0, 0, 0.3); }

.child-shadows > * { transition: all 235ms ease 0s; box-shadow: 15px 28px 25px -18px rgba(0, 0, 0, 0.2); }

.child-shadows-hover > * { transition: all 235ms ease 0s; box-shadow: 15px 28px 25px -18px rgba(0, 0, 0, 0.2); }

.child-shadows-hover > *:hover { transform: translate3d(0, 2px, 0); box-shadow: 2px 8px 8px -5px rgba(0, 0, 0, 0.3); }

[class^='ccs-btn'] { align-items: center; -webkit-appearance: none; -moz-appearance: none; appearance: none; background-position: center; border-radius: 0.4rem; border: none; cursor: pointer; display: inline-flex; font-family: Lato, sans-serif; font-size: 1.3rem; line-height: 3.2rem; max-height: 3.2rem; min-width: 3.2rem; outline: none; padding: 0 1.4rem; text-decoration: none; vertical-align: middle; white-space: nowrap; position: relative; overflow: hidden; transform: translate3d(0, 0, 0); }

[class^='ccs-btn']:before { content: ""; display: block; position: absolute; width: 100%; height: 100%; top: 0; left: 0; pointer-events: none; background-image: radial-gradient(circle, currentColor 10%, transparent 10.01%); background-repeat: no-repeat; background-position: 50%; transform: scale(10, 10); opacity: 0; transition: transform .5s, opacity 1s; }

[class^='ccs-btn']:active:before { transform: scale(0, 0); opacity: .2; transition: 0s; }

[class^='ccs-btn']::-moz-selection, [class^='ccs-btn'] *::-moz-selection { background: transparent; }

[class^='ccs-btn']::selection, [class^='ccs-btn'] *::selection { background: transparent; }

[class^='ccs-btn']:hover, [class^='ccs-btn']:active { text-decoration: none !important; }

[class^='ccs-btn'] .material-icons { font-size: 18px; opacity: 0.9; }

[class^='ccs-btn'] span, [class^='ccs-btn'] input, [class^='ccs-btn'] i { -webkit-appearance: none; -moz-appearance: none; appearance: none; background: transparent; border: none; color: currentColor; cursor: pointer; display: inline-flex; height: 3.2rem; margin: auto; outline: none; padding: 0; }

[class^='ccs-btn'] + [class*='ccs-btn'] { margin-left: .5rem; }

.ccs-btn-icon { background: transparent; color: currentColor; padding: 0; text-align: center; max-height: none; max-width: none; }

.ccs-btn-icon[disabled] { color: rgba(73, 88, 103, 0.6); cursor: auto; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

.ccs-btn-icon::-moz-selection { background: transparent; }

.ccs-btn-icon::selection { background: transparent; }

.ccs-btn-subtle { height: 3.2rem; background: white; text-shadow: none; color: #495867; font-weight: 600; background: rgba(227, 230, 233, 0.6); }

.ccs-btn-subtle .ccs-icons { font-weight: 400; opacity: 0.8; }

.ccs-btn-subtle:hover { color: #123 !important; background: #e3e6e9; }

.ccs-btn-subtle-link { color: #25A; }

.ccs-btn-subtle-warning { color: #D34; }

.ccs-btn-primary, .ccs-btn-success, .ccs-btn-warning, .ccs-btn-default { font-weight: 600; letter-spacing: .02em; position: relative; overflow: hidden; transform: translate3d(0, 0, 0); }

.ccs-btn-primary:before, .ccs-btn-success:before, .ccs-btn-warning:before, .ccs-btn-default:before { content: ""; display: block; position: absolute; width: 100%; height: 100%; top: 0; left: 0; pointer-events: none; background-image: radial-gradient(circle, white 10%, transparent 10.01%); background-repeat: no-repeat; background-position: 50%; transform: scale(10, 10); opacity: 0; transition: transform .5s, opacity 1s; }

.ccs-btn-primary:active:before, .ccs-btn-success:active:before, .ccs-btn-warning:active:before, .ccs-btn-default:active:before { transform: scale(0, 0); opacity: .2; transition: 0s; }

.ccs-btn-primary { background: #25A; color: white; }

.ccs-btn-success { background: #390; color: white; }

.ccs-btn-warning { background: #D34; color: white; }

.ccs-btn-default { background: #495867; color: white; }

.ccs-btn-group { padding: 0; }

.ccs-btn-group [class*='ccs-btn']:first-child { border-bottom-left-radius: 0.4rem; border-top-left-radius: 0.4rem; border-bottom-right-radius: 0; border-top-right-radius: 0; margin-right: -1px; }

.ccs-btn-group [class*='ccs-btn'] + [class*='ccs-btn'] { border-radius: 0; margin: 0 0 0 -1px; }

.ccs-btn-group [class*='ccs-btn']:last-child { border-bottom-left-radius: 0; border-top-left-radius: 0; border-bottom-right-radius: 0.4rem; border-top-right-radius: 0.4rem; margin-right: 0; }

[class*='ccs-btn']:not([class$='-icon']).icon { padding: 0; }

[class*='ccs-btn']:not([class$='-icon'])[disabled], .ccs-btn-subtle[disabled] { background: #E3E6E9; color: rgba(73, 88, 103, 0.8); cursor: auto; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

[class*='ccs-btn']:not([class$='-icon'])[disabled]:hover, [class*='ccs-btn']:not([class$='-icon'])[disabled]:active, .ccs-btn-subtle[disabled]:hover, .ccs-btn-subtle[disabled]:active { background: #E3E6E9; color: rgba(73, 88, 103, 0.8); }

.ccs-form--checkbox { -moz-user-select: none; -ms-user-select: none; -webkit-user-select: none; color: #495867; display: inline-block; min-height: 1rem; padding: 0 0 0 1.7rem; position: relative; user-select: none; vertical-align: middle; line-height: 1.6rem; margin: .5rem 0; max-width: 304px; }

.ccs-form--checkbox + .ccs-form--checkbox { margin: .5rem 0 .5rem 1rem; }

.ccs-form--checkbox input { position: absolute; opacity: 0; height: 0; width: 0; }

.ccs-form--checkbox input ~ .ccs-form--checkmark { cursor: pointer; }

.ccs-form--checkbox input:checked ~ .ccs-form--checkmark { background-color: #390; box-shadow: inset 0 0 0 2px #390; }

.ccs-form--checkbox input:checked ~ .ccs-form--checkmark:after { display: block; }

.ccs-form--checkbox input[disabled]:checked ~ .ccs-form--checkmark { background-color: #89A; }

.ccs-form--checkbox input[disabled] ~ .ccs-form--checkmark { cursor: default; box-shadow: inset 0 0 0 2px #89A; opacity: 0.8; }

.ccs-form--checkbox.error input:checked ~ .ccs-form--checkmark { background-color: #D34; }

.ccs-form--checkbox.error input:checked ~ .ccs-form--checkmark, .ccs-form--checkbox.error input ~ .ccs-form--checkmark { box-shadow: inset 0 0 0 2px #D34; }

.ccs-form--checkbox.full { width: 100%; }

.ccs-form--checkbox.full + .ccs-form--checkbox { margin: .3rem 0; }

.ccs-form--checkmark { position: absolute; top: -1px; left: 0; height: 18px; width: 18px; background-color: white; box-shadow: inset 0 0 0 2px rgba(73, 88, 103, 0.6); border-radius: -0.6rem; }

.ccs-form--checkmark:after { content: ''; position: absolute; display: none; }

.ccs-form--checkbox .ccs-form--checkmark:after { left: 6px; top: 1px; width: 4px; height: 11px; border: solid white; border-width: 0 2px 2px 0; transform: rotate(45deg); }

.ccs-form-feild { max-width: 304px; overflow: hidden; box-shadow: inset 0 0 0 1px #cfd9db; background: white; font-size: inherit; }

.ccs-form-feild:active, .ccs-form-feild:focus, .ccs-form-feild:focus-within { box-shadow: inset 0 0 0 1px rgba(41, 102, 204, 0.8); }

.ccs-form-feild input { height: 3.2rem; background-image: none; }

.ccs-form-feild input, .ccs-form-feild textarea { transition: background-color 0.3s ease-out; background: transparent !important; border: none; color: rgba(17, 34, 51, 0.9); font-family: Lato, sans-serif; font-size: 1.4rem; font-weight: 500; padding: 0 .5rem; }

.ccs-form-feild input:active, .ccs-form-feild input:focus, .ccs-form-feild textarea:active, .ccs-form-feild textarea:focus { color: #25A; background: white; }

.ccs-form-feild input:active::-webkit-input-placeholder, .ccs-form-feild input:focus::-webkit-input-placeholder, .ccs-form-feild textarea:active::-webkit-input-placeholder, .ccs-form-feild textarea:focus::-webkit-input-placeholder { color: rgba(136, 153, 170, 0.6); }

.ccs-form-feild input:active::-moz-placeholder, .ccs-form-feild input:focus::-moz-placeholder, .ccs-form-feild textarea:active::-moz-placeholder, .ccs-form-feild textarea:focus::-moz-placeholder { color: rgba(136, 153, 170, 0.6); }

.ccs-form-feild input:active:-ms-input-placeholder, .ccs-form-feild input:focus:-ms-input-placeholder, .ccs-form-feild textarea:active:-ms-input-placeholder, .ccs-form-feild textarea:focus:-ms-input-placeholder { color: rgba(136, 153, 170, 0.6); }

.ccs-form-feild input:active::-ms-input-placeholder, .ccs-form-feild input:focus::-ms-input-placeholder, .ccs-form-feild textarea:active::-ms-input-placeholder, .ccs-form-feild textarea:focus::-ms-input-placeholder { color: rgba(136, 153, 170, 0.6); }

.ccs-form-feild input:active::placeholder, .ccs-form-feild input:focus::placeholder, .ccs-form-feild textarea:active::placeholder, .ccs-form-feild textarea:focus::placeholder { color: rgba(136, 153, 170, 0.6); }

.ccs-form-feild input.placeholder, .ccs-form-feild textarea.placeholder { color: rgba(136, 153, 170, 0.6); font-weight: 400; }

.ccs-form-feild input:-moz-placeholder, .ccs-form-feild textarea:-moz-placeholder { color: rgba(136, 153, 170, 0.6); font-weight: 400; }

.ccs-form-feild input::-moz-placeholder, .ccs-form-feild textarea::-moz-placeholder { color: rgba(136, 153, 170, 0.6); font-weight: 400; }

.ccs-form-feild input:-ms-input-placeholder, .ccs-form-feild textarea:-ms-input-placeholder { color: rgba(136, 153, 170, 0.6); font-weight: 400; }

.ccs-form-feild input::-webkit-input-placeholder, .ccs-form-feild textarea::-webkit-input-placeholder { color: rgba(136, 153, 170, 0.6); font-weight: 400; }

.ccs-form-feild input[disabled], .ccs-form-feild textarea[disabled] { font-weight: 400 !important; color: #89A !important; cursor: default; }

.ccs-form-feild input { width: calc(100% - 20px); height: 28px; margin: 2px; }

.ccs-form-feild textarea { min-height: calc(64px - 16px) !important; padding: 8px !important; width: calc(100% - 16px); resize: none; margin: 1px -1px -2px -1px; }

.ccs-form-stacked { display: flex; flex-flow: column; justify-content: flex-start; font-size: inital; }

.ccs-form-stacked label, .ccs-form-stacked p { margin: 0; padding: 0 0 .5rem; }

.ccs-form-select { position: relative; box-shadow: inset 0 0 0 1px #cfd9db; background: white; vertical-align: middle; padding: 0 .5rem 0 .75rem; height: 3.2rem; margin: 0; display: flex; align-items: center; justify-content: space-between; max-width: calc(304px - 1.25rem); font-size: initial; }

.ccs-form-select-stacked { display: flex; flex-flow: column; justify-content: flex-start; padding: .75rem 0; }

.ccs-form-select-stacked label, .ccs-form-select-stacked p { margin: 0; padding: 0 0 .5rem; }

.ccs-form-select:active, .ccs-form-select:focus, .ccs-form-select:focus-within { box-shadow: inset 0 0 0 1px rgba(41, 102, 204, 0.8); }

.ccs-form-select:active::after, .ccs-form-select:focus::after, .ccs-form-select:focus-within::after { color: #25A; }

.ccs-form-select::after { font-family: Material Icons, monospace; color: #89A; cursor: default; display: block; content: '\e5c5'; font-size: 24px; width: 24px; }

.ccs-form-select select { -webkit-appearance: none; -moz-appearance: none; appearance: none; background: transparent; border: none; color: rgba(17, 34, 51, 0.9); cursor: pointer; font-family: Lato, sans-serif; font-size: 1.4rem; font-weight: 500; height: 3.2rem; min-width: 112px; width: 100%; outline: none; }

.ccs-form-select select:active, .ccs-form-select select:focus { color: #25A; }

.ccs-form-select select[disabled] { font-weight: 400 !important; color: #89A !important; cursor: default; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; z-index: 1; }

.ccs-form-group { position: relative; display: flex; flex-wrap: wrap; align-items: stretch; max-width: 304px; font-size: initial; }

.ccs-form-group label { line-height: 32px; padding: 0 16px; box-shadow: inset 0 -1px 0 0 #cfd9db, inset 0 1px 0 0 #cfd9db, inset 1px 0 0 0 #cfd9db; border-bottom-left-radius: 0.4rem; border-top-left-radius: 0.4rem; font-size: 1.2rem; }

.ccs-form-group .ccs-form-feild { box-shadow: inset 0 -1px 0 0 #cfd9db, inset 0 1px 0 0 #cfd9db, inset 1px 0 0 0 #cfd9db, inset -1px 0 0 0 #cfd9db; position: relative; flex: 1 1 auto; width: 1%; border-radius: 0; }

.ccs-form-group .ccs-form-feild:active, .ccs-form-group .ccs-form-feild:focus, .ccs-form-group .ccs-form-feild:focus-within { box-shadow: inset 0 0 0 1px rgba(41, 102, 204, 0.8); }

.ccs-form-group [class*='ccs-button']:first-child { border-bottom-left-radius: 0.4rem; border-top-left-radius: 0.4rem; border-bottom-right-radius: 0; border-top-right-radius: 0; margin-right: -1px; }

.ccs-form-group [class*='ccs-button'] + [class*='ccs-button'] { border-radius: 0; margin: 0 0 0 -1px; }

.ccs-form-group [class*='ccs-button']:last-child, .ccs-form-group [class*='ccs-button'][disabled]:last-child { border-bottom-left-radius: 0 !important; border-top-left-radius: 0 !important; border-bottom-right-radius: 0.4rem; border-top-right-radius: 0.4rem; margin-right: 0; }

.ccs-form-group .ccs-button-subtle:last-child { box-shadow: inset -1px 0 0 0 #cfd9db, inset 0 1px 0 0 #cfd9db, inset 0 -1px 0 0 #cfd9db; }

.ccs-form-group.disabled .ccs-form-feild:active, .ccs-form-group.disabled .ccs-form-feild:focus, .ccs-form-group.disabled .ccs-form-feild:focus-within { box-shadow: inset 0 -1px 0 0 #cfd9db, inset 0 1px 0 0 #cfd9db, inset 1px 0 0 0 #cfd9db, inset -1px 0 0 0 transparent; }

.ccs-form-group.disabled [class*='ccs-button'] { box-shadow: inset -1px 0 0 0 #cfd9db, inset 0 1px 0 0 #cfd9db, inset 0 -1px 0 0 #cfd9db; }

label { font-family: Lato, sans-serif; font-size: 1.4rem; color: #495867; display: flex; justify-content: space-between; }

.error { position: relative; }

.error .ccs-form-feild-stacked { width: 100%; }

.error .ccs-form-feild { display: flex; align-items: center; justify-content: space-between; }

.error .ccs-form-feild::after { content: ''; color: #D34; background: transparent url("data:image/svg+xml,%3Csvg height='16' viewBox='0 0 16 16' width='16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m8 .5c4.1421356 0 7.5 3.35786438 7.5 7.5 0 4.1421356-3.3578644 7.5-7.5 7.5-4.14213563 0-7.5-3.3578644-7.5-7.5 0-4.14213563 3.35786438-7.5 7.5-7.5zm0 1.63333333c-3.24007053 0-5.86666667 2.62659614-5.86666667 5.86666667 0 3.2400705 2.62659614 5.8666667 5.86666667 5.8666667 3.2400705 0 5.8666667-2.6265962 5.8666667-5.8666667 0-3.24007053-2.6265962-5.86666667-5.8666667-5.86666667zm1 5.36666667v4c0 .2761424-.22385763.5-.5.5h-1c-.27614237 0-.5-.2238576-.5-.5v-4c0-.27614237.22385763-.5.5-.5h1c.27614237 0 .5.22385763.5.5zm0-3v1c0 .27614237-.22385763.5-.5.5h-1c-.27614237 0-.5-.22385763-.5-.5v-1c0-.27614237.22385763-.5.5-.5h1c.27614237 0 .5.22385763.5.5z' fill='%23d55' fill-rule='evenodd'/%3E%3C/svg%3E") no-repeat center; height: 32px; width: 32px; margin: 0 2px 0 0; opacity: 0.9; }

.error .ccs-form-feild input[type=text], .error .ccs-form-feild input[type=password] { width: calc(100% - 32px); margin-right: -1px; }

.error .ccs-form-feild textarea { margin: 1px auto; }

.error .ccs-form-select { display: flex; align-items: center; justify-content: space-between; width: auto; }

.error .ccs-form-select::after { order: 2; }

.error .ccs-form-select::before { content: ''; color: #D34; background: transparent url("data:image/svg+xml,%3Csvg height='16' viewBox='0 0 16 16' width='16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m8 .5c4.1421356 0 7.5 3.35786438 7.5 7.5 0 4.1421356-3.3578644 7.5-7.5 7.5-4.14213563 0-7.5-3.3578644-7.5-7.5 0-4.14213563 3.35786438-7.5 7.5-7.5zm0 1.63333333c-3.24007053 0-5.86666667 2.62659614-5.86666667 5.86666667 0 3.2400705 2.62659614 5.8666667 5.86666667 5.8666667 3.2400705 0 5.8666667-2.6265962 5.8666667-5.8666667 0-3.24007053-2.6265962-5.86666667-5.8666667-5.86666667zm1 5.36666667v4c0 .2761424-.22385763.5-.5.5h-1c-.27614237 0-.5-.2238576-.5-.5v-4c0-.27614237.22385763-.5.5-.5h1c.27614237 0 .5.22385763.5.5zm0-3v1c0 .27614237-.22385763.5-.5.5h-1c-.27614237 0-.5-.22385763-.5-.5v-1c0-.27614237.22385763-.5.5-.5h1c.27614237 0 .5.22385763.5.5z' fill='%23d55' fill-rule='evenodd'/%3E%3C/svg%3E") no-repeat center; height: 32px; width: 32px; order: 1; margin-right: -8px; opacity: 0.9; }

.error .ccs-form-select select { width: calc(100% - 32px); margin-right: -1px; }

.error .ccs-font-warning { padding-top: 2px; padding-bottom: 0; display: block; white-space: nowrap !important; overflow: hidden !important; text-overflow: ellipsis !important; }

.full { max-width: none; }

.full .ccs-form-select, .full .ccs-form-feild, .full .ccs-form-group { max-width: none; }

.disabled { -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

.disabled::-moz-selection { background: transparent; }

.disabled::selection { background: transparent; }

.disabled .ccs-form-feild, .disabled .ccs-form-select { background: #EEF0F1; box-shadow: inset 0 0 0 1px #cfd9db; }

.disabled .ccs-form-feild:active, .disabled .ccs-form-feild:focus, .disabled .ccs-form-feild:focus-within, .disabled .ccs-form-select:active, .disabled .ccs-form-select:focus, .disabled .ccs-form-select:focus-within { box-shadow: inset 0 0 0 1px #cfd9db !important; }

.ccs-form--radiomark { background-color: white; border-radius: 50%; box-shadow: inset 0 0 0 2px rgba(73, 88, 103, 0.6); height: 18px; left: 0; position: absolute; top: 3px; width: 18px; }

.ccs-form--radiomark:after { content: ''; display: none; position: absolute; }

.ccs-form--radiobox { -moz-user-select: none; -ms-user-select: none; -webkit-user-select: none; display: inline-block; height: 1.5rem; line-height: 1.5rem; margin-right: 1rem; padding-left: 1.7rem; position: relative; user-select: none; }

.ccs-form--radiobox input { cursor: pointer; position: absolute; opacity: 0; height: 0; width: 0; }

.ccs-form--radiobox input[disabled] { color: #cfd9db !important; cursor: default; }

.ccs-form--radiobox input:checked ~ .ccs-form--radiomark { background-color: white; box-shadow: inset 0 0 0 2px #390; }

.ccs-form--radiobox input:checked ~ .ccs-form--radiomark:after { display: block; background: rgba(51, 153, 0, 0.9); border-radius: 50%; height: 8px; left: 5px; top: 5px; width: 8px; }

.ccs-form--radiobox:hover input ~ .ccs-form--radiomark { cursor: pointer; }

.ccs-form--radiobox input[disabled] ~ .ccs-form--radiomark, .ccs-form--radiobox input[disabled]:checked ~ .ccs-form--radiomark { background-color: white; box-shadow: inset 0 0 0 2px rgba(136, 153, 170, 0.8); }

.ccs-form--radiobox input[disabled] ~ .ccs-form--radiomark:after, .ccs-form--radiobox input[disabled]:checked ~ .ccs-form--radiomark:after { background: rgba(136, 153, 170, 0.8); }

.ccs-form--radiobox:hover input[disabled] ~ .ccs-form--radiomark { cursor: default; }

.ccs-form--radiobox.error input:checked ~ .ccs-form--radiomark:after { background: rgba(221, 51, 68, 0.9); }

.ccs-form--radiobox.error input:checked ~ .ccs-form--radiomark, .ccs-form--radiobox.error input ~ .ccs-form--radiomark { box-shadow: inset 0 0 0 2px #D34; }

.ccs-form--radiobox.full { width: 100%; display: block; }

.ccs-form--radiobox.full .ccs-form--radiomark { margin: .1rem 0; }

.ccs-form--switch { position: relative; display: inline; min-height: 16px; margin: 8px 0; }

.ccs-form--switch + .ccs-form--switch { margin: .5rem 0 .5rem 1rem; }

.ccs-form--switch input { opacity: 0; width: 100%; height: 100%; position: absolute; top: 0; bottom: 0; right: 0; left: 0; cursor: pointer; z-index: 1; }

.ccs-form--switch.error input:not(:checked) ~ .ccs-form--switch-slider { background-color: #e7707c; }

.ccs-form--switch.error input:not(:checked) ~ .ccs-form--switch-slider:before { background-color: #D34; }

.ccs-form--switch-slider { position: absolute; top: 2px; left: 0; right: 0; bottom: 2px; width: 36px; background-color: #acb8c4; transition: .4s; border-radius: 8px; }

.ccs-form--switch-slider:before { border-radius: 50%; position: absolute; content: ''; height: 16px; width: 16px; left: 0; bottom: -2px; background-color: #89A; transition: .3s; box-shadow: 0 0 0 2px white; cursor: pointer; }

.ccs-form--title { margin-left: 44px; display: inline-block; white-space: nowrap; }

input:checked + .ccs-form--switch-slider { background-color: #88b96f; }

input:checked + .ccs-form--switch-slider::before { background: #390; left: 4px; }

input:focus + .ccs-form--switch-slider { box-shadow: 0 0 1px white; }

input:checked + .ccs-form--switch-slider:before { transform: translateX(16px); }

.ccs-form--switch input[disabled] { cursor: not-allowed; }

.ccs-form--switch input[disabled] ~ .ccs-form--switch-slider { opacity: 0.6; }

.ccs-form--switch input[disabled] ~ .ccs-form--switch-slider:before { cursor: default; }

.ccs-crumbs, .breadcrumbs { overflow: auto; overflow-y: hidden; white-space: nowrap; height: 4rem; padding: 0; margin: 0; letter-spacing: 0.01em; }

.ccs-crumbs::-webkit-scrollbar, .breadcrumbs::-webkit-scrollbar { width: 1.4rem; height: .8rem; }

.ccs-crumbs::-webkit-scrollbar-track, .breadcrumbs::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 0 1.4rem #cfd9db; }

.ccs-crumbs::-webkit-scrollbar-thumb, .breadcrumbs::-webkit-scrollbar-thumb { background-color: rgba(136, 153, 170, 0.4); outline: 0 none transparent; border-radius: 1.4rem; }

.ccs-crumbs::-webkit-scrollbar-thumb:hover, .breadcrumbs::-webkit-scrollbar-thumb:hover { background-color: rgba(136, 153, 170, 0.8); }

.ccs-crumbs ul, .ccs-crumbs ol, .breadcrumbs ul, .breadcrumbs ol { display: inline; }

.ccs-crumbs a, .breadcrumbs a { color: #123; display: inline-block; text-align: center; padding: 1.36rem 0; text-decoration: none; }

.ccs-crumbs a:hover, .breadcrumbs a:hover { text-decoration: underline; }

.ccs-crumbs li, .breadcrumbs li { position: relative; display: inline-flex; align-items: center; margin: 0; padding: 0; }

.ccs-crumbs li::after, .breadcrumbs li::after { display: block; content: '\e5cc'; font-family: Material Icons, monospace; font-size: 18px; color: #89A; opacity: 0.8; }

.ccs-crumbs li.active > a, .breadcrumbs li.active > a { font-weight: 700; color: #25A; cursor: default; text-decoration: none; }

.ccs-crumbs li:last-child > a, .breadcrumbs li:last-child > a { font-weight: 700; color: #25A; cursor: default; text-decoration: none; }

.ccs-crumbs li:last-child::after, .breadcrumbs li:last-child::after { display: none; }

.ccs-margin { margin: 1rem; }

.ccs-margin-top { margin-top: 1rem; }

.ccs-margin-top-large { margin-top: 2rem; }

.ccs-margin-top-small { margin-top: 0.5rem; }

.ccs-margin-top-none { margin-top: 0; }

.ccs-margin-right { margin-right: 1rem; }

.ccs-margin-right-large { margin-right: 2rem; }

.ccs-margin-right-small { margin-right: 0.5rem; }

.ccs-margin-right-none { margin-right: 0; }

.ccs-margin-bottom { margin-bottom: 1rem; }

.ccs-margin-bottom-large { margin-bottom: 2rem; }

.ccs-margin-bottom-small { margin-bottom: 0.5rem; }

.ccs-margin-bottom-none { margin-bottom: 0; }

.ccs-margin-left { margin-left: 1rem; }

.ccs-margin-left-large { margin-left: 2rem; }

.ccs-margin-left-small { margin-left: 0.5rem; }

.ccs-margin-left-none { margin-left: 0; }

.ccs-margin-large { margin: 2rem; }

.ccs-margin-small { margin: 0.5rem; }

.ccs-margin-none { margin: 0; }

.ccs-padding { padding: 1rem; }

.ccs-padding-top { padding-top: 1rem; }

.ccs-padding-top-large { padding-top: 2rem; }

.ccs-padding-top-small { padding-top: 0.5rem; }

.ccs-padding-top-none { padding-top: 0; }

.ccs-padding-right { padding-right: 1rem; }

.ccs-padding-right-large { padding-right: 2rem; }

.ccs-padding-right-small { padding-right: 0.5rem; }

.ccs-padding-right-none { padding-right: 0; }

.ccs-padding-bottom { padding-bottom: 1rem; }

.ccs-padding-bottom-large { padding-bottom: 2rem; }

.ccs-padding-bottom-small { padding-bottom: 0.5rem; }

.ccs-padding-bottom-none { padding-bottom: 0; }

.ccs-padding-left { padding-left: 1rem; }

.ccs-padding-left-large { padding-left: 2rem; }

.ccs-padding-left-small { padding-left: 0.5rem; }

.ccs-padding-left-none { padding-left: 0; }

.ccs-padding-large { padding: 2rem; }

.ccs-padding-small { padding: 0.5rem; }

.ccs-padding-none { padding: 0; }

.ccs-text-heavy { -webkit-font-smoothing: antialiased; font-weight: 900; letter-spacing: 0.005em; word-spacing: 0.01em; }

#ArticleContent a, #SectionContent a { color: #123; }

#ArticleContent a:hover, #SectionContent a:hover { text-decoration: none; }

#ArticleContent p, #SectionContent p { line-height: 1.4; }

#ArticleContent p + p, #SectionContent p + p { margin-top: 1.6rem; }

#ArticleContent nav, #SectionContent nav { min-height: 4.6rem; display: flex; flex-direction: row; align-items: center; font-size: 1.4rem; margin: 0 -1.6rem -0.8rem; padding: 0 1.2rem; border-top: solid 1px #cfd9db; }

#ArticleMenu, #SectionMenu { background: white; color: #495867; padding: 1.6rem 0; }

#ArticleMenu .ccs-title-subtle, #ArticleMenu h2, #SectionMenu .ccs-title-subtle, #SectionMenu h2 { margin: 1.36rem 1.6rem; }

#ArticleMenu .ccs-title-subtle + nav, #ArticleMenu h2 + nav, #SectionMenu .ccs-title-subtle + nav, #SectionMenu h2 + nav { padding-top: 0; }

#ArticleMenu nav, #SectionMenu nav { padding: 0 0 1.36rem; margin: 0; }

#ArticleMenu nav a, #SectionMenu nav a { display: flex; min-height: 3.2rem; align-items: center; text-decoration: none; padding: 0 1.6rem; list-style: none; }

#ArticleMenu nav a:hover, #SectionMenu nav a:hover { text-decoration: underline; }

#ArticleMenu nav a.active, #SectionMenu nav a.active { color: #25A; font-weight: 700; position: relative; }

#ArticleMenu nav a.active::after, #SectionMenu nav a.active::after { content: ''; display: flex; position: absolute; left: -.2rem; top: -.1rem; bottom: -.1rem; width: .3rem; height: 100%; background: #25A; }

#ArticleMenu [class^='ccs-btn'], #SectionMenu [class^='ccs-btn'] { margin: 0 auto 1.6rem 1.6rem; }

#ArticleMenu hr, #SectionMenu hr { margin: .8rem 0; }

#ArticleMenu ul, #SectionMenu ul { padding: 0 0 1.36rem; margin: 0; display: flex; flex-flow: column; align-items: flex-start; justify-content: center; }

#ArticleMenu ul li, #SectionMenu ul li { margin: 0; padding: 0; list-style: none; min-height: 3.2rem; min-width: 0; max-width: 256px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

#ArticleMenu ul li a, #SectionMenu ul li a { padding: 0 1.6rem; line-height: 32px; }

#ArticleMenu a, #SectionMenu a { text-decoration: none; color: #123; }

#ArticleMenu a:hover, #SectionMenu a:hover { text-decoration: underline; }

.ccs-title-subtle, .recent-articles-title { font-size: 1rem; color: #89A; text-transform: uppercase; font-weight: 600; letter-spacing: 0.04em; }

.ccs-paging-simple [class^='ccs-btn'] { font-size: 1.4rem; }

.ccs-paging-simple [class^='ccs-btn'] span { color: #123; font-weight: 600; }

.ccs-paging-simple [class^='ccs-btn'] span:hover { text-decoration: underline; }

.ccs-paging-simple [class^='ccs-btn'] .ccs-icons { color: #89A; }

.ccs-doc-header { position: relative; min-height: 5.6rem; background: white; }

@media screen and (max-width: 768px) { .ccs-doc-header { padding-bottom: 1.6rem; } }

@media screen and (min-width: 768px) { .ccs-doc-header { display: flex; justify-content: space-between; margin-bottom: 2.4rem; } .ccs-doc-header::after { content: ""; position: absolute; width: calc(100% + 3.2rem); bottom: 0; z-index: 1; right: -1.6rem; left: -1.6rem; display: block; height: .6rem; background: linear-gradient(to bottom, rgba(0, 0, 0, 0.08) 0%, rgba(0, 0, 0, 0) 100%); } }

.ccs-doc-list { border-collapse: collapse; border-spacing: 0; margin-bottom: 1.6rem; display: flex; flex-flow: column; padding: 0; border: 1px solid #E3E6E9; border-radius: 0.6rem; }

.ccs-doc-list li:first-child { border-top: none; }

.ccs-doc-list li { margin: 0; padding: 0 1.6rem; list-style: none; min-height: 4.0rem; min-width: 0; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; border-top: 1px solid #E3E6E9; width: 100%; display: flex; align-items: center; }

.ccs-doc-list a { color: #123; text-decoration: none; font-size: 1.3rem; }

.ccs-doc-list a:hover { text-decoration: underline !important; }

@media screen and (min-width: 768px) { .ccs-doc-meta { display: flex; flex-direction: column; } }

.ccs-doc-meta .ccs-doc-author { display: flex; padding: 0 0 .8rem 0; font-size: 1.2rem; }

.ccs-doc-meta .ccs-doc-author > a { text-decoration: none; }

.ccs-doc-meta .ccs-doc-author > a:hover { text-decoration: underline !important; }

#AppDrawer { background-color: #334455; color: #89A; flex-direction: column; justify-content: space-between; letter-spacing: 0.01em; }

#AppDrawer nav { padding-top: 1.36rem; }

#AppDrawer nav a, #AppDrawer nav p { display: flex; font-size: 1.2rem; height: 32px; padding: 0 1.36rem; align-items: center; }

#AppDrawer nav a { color: rgba(238, 240, 241, 0.9); text-decoration: none; }

#AppDrawer nav a.active { background: #162534; font-weight: 600; letter-spacing: .02rem; }

#AppDrawer nav[aria-label='company'] { box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.4); }

#AppFooter { background-color: #334455; color: #89A; letter-spacing: 0.01em; }

#AppFooter a { color: rgba(238, 240, 241, 0.9); display: inline-flex; min-height: 24px; align-items: center; text-decoration: none; }

#AppFooter a:hover { text-decoration: underline; }

#AppFooter a + a { margin-left: 2.4rem; }

#AppFooter .right { width: 24.8rem; text-align: right; }

#AppHeader { background: #18428f; color: rgba(238, 240, 241, 0.8); box-shadow: 0 1px 0 0 rgba(17, 34, 51, 0.9); }

#AppHeader .ccs-branding { display: flex; align-items: center; margin: 0 auto 0 0; min-height: 6.4rem; }

#AppHeader .ccs-branding .ccs-btn-icon { margin-left: -.8rem; margin-right: .8rem; opacity: .8; width: 4.12rem; height: 3.8rem; border-radius: 4.8rem; }

#AppHeader .ccs-branding .ccs-btn-icon i { font-size: 24px; font-weight: 400; height: none; }

#AppHeader .ccs-product { font-size: 1.8rem; align-items: center; color: #9bbbeb; -webkit-font-smoothing: antialiased; font-weight: 900; letter-spacing: 0.005em; word-spacing: 0.01em; }

#AppHeader .ccs-product::before { display: flex; content: ''; height: 3.2rem; width: .2rem; background: rgba(238, 240, 241, 0.8); opacity: .4; margin: 0 2.4rem; }

#AppHeader .ccs-search { align-items: center; justify-content: end; }

#AppHeader .ccs-search .ccs-input-group { background: white; border-radius: 0.4rem; height: 3.6rem; display: flex; align-items: center; padding: 0 .8rem 0 0; }

#AppHeader .ccs-search label { color: #89A; margin-left: .8em; }

#AppHeader .ccs-search input { border: none; font-size: 1.4rem; box-sizing: border-box; height: 2.25rem; padding: 0 0.8rem; -webkit-appearance: none; outline: none; }

@media screen and (min-width: 768px) { #AppHeader .ccs-search input { min-width: calc(26.4rem - 5.8rem); } }

#AppNav { overflow: auto; overflow-y: hidden; white-space: nowrap; position: relative; letter-spacing: 0.01em; font-size: 1.4rem; }

#AppNav::-webkit-scrollbar { width: 1.4rem; height: .8rem; }

#AppNav::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 0 1.4rem #cfd9db; }

#AppNav::-webkit-scrollbar-thumb { background-color: rgba(136, 153, 170, 0.4); outline: 0 none transparent; border-radius: 1.4rem; }

#AppNav::-webkit-scrollbar-thumb:hover { background-color: rgba(136, 153, 170, 0.8); }

#AppNav::before { content: ''; display: block; height: .2rem; background: #cfd9db; position: absolute; right: 0; left: 0; bottom: 0; }

#AppNav a { display: inline-flex; align-items: center; text-align: center; padding: 0 1.6rem; text-decoration: none; position: relative; overflow: visible; height: 5.6rem; color: #123; font-weight: 600; }

#AppNav a:hover { text-decoration: underline; }

#AppNav ul, #AppNav ol, #AppNav li { display: inline; }

#AppNav .active { font-weight: 700; color: #25A; cursor: default; }

#AppNav .active::after { content: ''; display: block; height: .3rem; background: #25A; position: absolute; right: -.1rem; left: -.1rem; bottom: 0; }

#AppNav .active:hover { text-decoration: none; }

body::-webkit-scrollbar { width: 1.4rem; height: .8rem; }

body::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 0 1.4rem #cfd9db; }

body::-webkit-scrollbar-thumb { background-color: rgba(136, 153, 170, 0.4); outline: 0 none transparent; border-radius: 1.4rem; }

body::-webkit-scrollbar-thumb:hover { background-color: rgba(136, 153, 170, 0.8); }

#AppLayout { background: #cfd9db; flex-direction: column; min-height: 100vh; font-size: 1.4rem; display: flex; }

#AppLayout::before { content: ''; display: block; height: 64px; visibility: hidden; }

#AppLayout .ccs-anchor { left: 0px; position: absolute; top: -48px; visibility: hidden; width: 100%; }

#AppHeader { align-items: center; position: fixed; display: flex; height: 6.4rem; padding: 0 1.6rem; top: 0; width: 100%; z-index: 10000; }

#AppNav { min-height: 4.8rem; background: white; align-items: center; line-height: 1; }

#AppPage { background: white; flex: 1; height: 100%; overflow-x: hidden; overflow-y: auto; padding: 0; position: relative; transition: margin-left .5s; }

#AppFooter { align-items: center; display: flex; justify-content: space-between; flex-direction: row; flex-shrink: 0; font-size: 1.2rem; height: 4rem; padding: 0 1.6rem; }

#AppDrawer { display: none; flex-direction: column; height: calc(100vh - 6.4rem); left: 0; overflow-x: hidden; overflow: auto; position: fixed; top: 6.4rem; transition: .5s; }

#ArticleLayout, #SectionLayout { background: #cfd9db; display: flex; flex-direction: row; }

#ArticlePath, #SectionPath { align-items: center; display: flex; flex-shrink: 0; font-size: 1.2rem; left: 0; padding-left: 1.6rem; position: absolute; right: 0; top: 0; }

#ArticleContent, #SectionContent { background: white; color: #495867; flex: 1; padding: 4rem 1.6rem 0; }

#ArticleMenu, #SectionMenu { display: flex; flex-direction: column; flex-shrink: 0; font-size: 1.3rem; }

#ArticleMenu > .ccs-label:first-child, #SectionMenu > .ccs-label:first-child { margin-top: 0; }

#AppTop { box-shadow: 0 0.8rem 1.6rem rgba(0, 0, 0, 0.16); background: white; border-radius: 50%; bottom: 5.6rem; display: flex; justify-content: center; padding: 2.5rem; position: fixed; text-decoration: none; vertical-align: middle; }

@media screen and (min-width: 768px) { #AppDrawer { display: none; } #AppHeader { flex-direction: row; } #AppHeader .ccs-product, #AppHeader .ccs-search { display: flex; } #AppNav { display: flex; } #AppButton { display: none; } #ArticleLayout, #SectionLayout { min-height: calc(100vh - 16rem); } #ArticleContent article, #SectionContent article { min-height: calc(100vh - 25.9rem); } #ArticlePath, #SectionPath { width: calc(100% - 28.2rem); } #AppTop { right: 28.8rem; } #ArticleMenu, #SectionMenu { margin-left: 0.2rem; width: 26.4rem; } }

@media screen and (max-width: 768px) { #AppNav, #AppFooter { display: none; } #AppHeader { flex-direction: column; } #AppHeader .ccs-product, #AppHeader .ccs-search { display: none; } #AppButton { display: block; } #ArticleLayout, #SectionLayout { flex-direction: column; } #ArticleMenu, #SectionMenu { width: auto; margin: 0.2rem 0 0; } #AppTop { right: 2.4rem; bottom: 1.6rem; } }

.powered-by-zendesk { display: none; }

#preview-bar-container { position: absolute; margin-top: -50px; }

main[role='main'] { width: 100%; }

@media screen and (min-width: 768px) { main[role='main'] { display: flex; } }

.ccs-btn-previous, .ccs-btn-next, .ccs-btn-top, .ccs-btn-up, .ccs-btn-down { position: relative; }

.ccs-btn-previous::after, .ccs-btn-next::after, .ccs-btn-top::after, .ccs-btn-up::after, .ccs-btn-down::after { align-items: center; display: flex; font-family: Material Icons, monospace; justify-content: center; min-height: 24px; min-width: 24px; position: absolute; color: #89A; font-size: 18px; font-weight: 400; opacity: 0.8; }

.ccs-btn-previous:hover::after, .ccs-btn-next:hover::after, .ccs-btn-top:hover::after, .ccs-btn-up:hover::after, .ccs-btn-down:hover::after { color: #495867; }

.ccs-btn-previous { padding-left: 3.2rem; }

.ccs-btn-previous::after { content: 'keyboard_backspace'; left: 0; transform: rotate(0deg); }

.ccs-btn-next { padding-right: 3.2rem; }

.ccs-btn-next::after { content: 'keyboard_backspace'; right: 0; transform: rotate(180deg); }

.ccs-btn-top { padding-top: 3.2rem; }

.ccs-btn-top::after { transform: rotate(90deg); content: 'keyboard_backspace'; height: 32px; width: 32px; }

.ccs-btn-up { padding-left: 3.2rem; }

.ccs-btn-up::after { content: 'sentiment_satisfied'; height: 32px; width: 32px; left: 0; }

.ccs-btn-down { padding-left: 3.2rem; }

.ccs-btn-down::after { content: 'sentiment_dissatisfied'; height: 32px; width: 32px; left: 0; }

.ccs-block-subtle { background: rgba(227, 230, 233, 0.6); border-radius: 0.6rem; padding: 1.6rem 2.4rem; }

.ccs-block-subtle .row.flex { margin: 0 0 0 -1.8rem !important; }
