#AppFooter {
  font-size: $font-base;
  background-color: $drawer-color;
  color: $drawer-text;
  .inner {
    @include wrapper;
    @include center;
    justify-content: space-between;
  }
  a {
    color: $drawer-link;
    display: inline-flex;
    min-height: 24px;
    align-items: center;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
    + a {
      margin-left: 2.4rem;
    }
  }
  nav {
    padding-left: 1.6rem;
  }
  .right {
    width: 33.6rem;
    padding-right: 1.6rem;
  }
}