#AppNav {
  font-size: $font-base;
  @include scrollbar;
  align-items: center;
  background: white;
  line-height: 1;
  min-height: 4.8rem;
  overflow-y: hidden;
  overflow: auto;
  position: relative;
  white-space: nowrap;
  .inner {
    display: flex;
    align-items: center;
    @include wrapper;
  }
  // &::before {
  //   //background: $hue-line;
  //   bottom: 0;
  //   content: '';
  //   display: block;
  //   height: .2rem;
  //   left: 0;
  //   position: absolute;
  //   right: 0;
  //   //box-shadow: inset 0 4px 4px -4px rgba(black,.16);
  //   border-top: solid 1px $hue-line;
  // }
  a {
    align-items: center;
    color: $hue-dark;
    display: inline-flex;
    font-weight: $font-bold;
    height: 5.6rem;
    overflow: visible;
    padding: 0 1.6rem;
    position: relative;
    text-align: center;
    text-decoration: none;
    .ccs-glyph {
      margin-right: 1.6rem;
      opacity: $opacity-fade;
          max-height: 24px;
    }
  }
  a:hover {
    text-decoration: underline;
  }
  ul, ol, li {
    display: inline; 
  }
  .active {
    color: $hue-azure;
    cursor: default;
    font-weight: $font-bold;
    &::after {
      content: '';
      display: block;
      height: .3rem;
      background: $hue-azure;
      position: absolute;
      right: -.1rem;
      left: -.1rem;
      bottom: 0;
    }
    &:hover {
      text-decoration: none;
    }
  }
}

// @include screen($max: $small-screen) { // MOBILE }

@include screen($min: $small-screen) { // DESKTOP
  #AppNav {
    display: flex;
    // nav > a:first-child {
    //   padding-left: 0;
    // }
  }
}