.search {
  display: flex;
  align-items: center;
  background: white;
  border-radius: $rounded-medium;
  height: 3.6rem;
  padding: 0 0.8rem 0 0.4rem;
  margin: auto;
  &::before {
    content: 'search';
    display: flex;
    @include center;
    height: 3.2rem;
    width: 3.2rem;
    font-family: $font-icons;
    font-size: $icon-medium;
    color: $hue-muted;
  }
  input[type='search'] {
    border: none;
    font-size: 1.4rem;
    box-sizing: border-box;
    height: 2.25rem;
    padding: 0 0.8rem;
    -webkit-appearance: none;
    outline: none;
    flex: 1;
  }
}