<a class="skip-navigation" tabindex="1" href="#main-content">{{t 'skip_navigation' }}</a>

<header class="header">
  <div class="nav-wrapper">
    <button class="menu-button" aria-controls="user-nav" aria-expanded="false" aria-label="{{t 'toggle_navigation'}}">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" focusable="false" viewBox="0 0 16 16" class="icon-menu">
        <path fill="none" stroke="currentColor" stroke-linecap="round" d="M1.5 3.5h13m-13 4h13m-13 4h13"/>
      </svg>
    </button>
    <nav class="user-nav" id="user-nav">
      {{#link 'new_request' class='submit-a-request'}}Contact Support{{/link}}
      <a href="/hc/en-us/sections/360008463631-Quick-Start-Guide">Quick Start Guide</a>
      <a href="/hc/en-us/sections/360008355672-Documentation">Documentation</a>
      <a href="/hc/en-us/sections/360008463611-Release-Notes">Release Notes</a>
      <a href="/hc/en-us/sections/360008355692-Technical-Bulletin">Technical Bulletin</a>
      <a href="/hc/en-us/sections/360008355712-FAQ">FAQs</a>
    </nav>
        
  </div>
</header>
