details, summary {
  outline: none;
}

summary {
  display: block;
  cursor: pointer;
  transition: .3s;
  border-bottom: 1px solid $hue-softer;
  border-top: 1px solid $hue-softer;
  margin-top: -1px;
  user-select: none;
  padding: .8rem .8rem .8rem 1.4rem;
  &:hover {
    background: rgba($hue-soft, $opacity-soften);
  }
  + div { 
    padding: 0 .8rem 2.4rem 1.6rem; 
  }
}

details > div {
  overflow: auto;
  height: 100%;
  user-select: none;
}

details > div > img {
  max-width: 100%;
}


@media (min-width: 768px) {
  details[open] > div > p {
    opacity: 0;
    animation-name: showContent;
    animation-duration: 0.6s;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
  }

  details[open] > div {
    animation-name: slideDown;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
  }

  details[open] > div > img {
    opacity: 0;
    height: 100%;
    animation-name: showImage;
    animation-duration: 0.3s;
    animation-delay: 0.15s;
    animation-fill-mode: forwards;
  }
}

@keyframes slideDown {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes showImage {
  from {
    opacity: 0;
    clip-path: inset(50% 0 50% 0);
    transform: scale(0.4);
  }

  to {
    opacity: 1;
    clip-path: inset(0 0 0 0);
  }
}

@keyframes showContent {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}