.ccs-crumbs, .breadcrumbs {
  overflow: auto;
  overflow-y: hidden;
  white-space: nowrap;
  height: 4rem;
  padding: 0; margin: 0;
  @include scrollbar;
  ul,  ol {
    display: inline;
  }

  li > a {
    display: inline-block;
    text-align: center;
    padding: 1.36rem 0;
    font-size: 1.3rem;
    text-decoration: none;
    color: $hue-text;
    &:hover {
      text-decoration: underline !important;
      color: $hue-dark;
    }
  }


  li {
    position: relative;
    display: inline-flex;
    align-items: center;
    margin: 0;
    padding: 0;
    &::after {
      display: block;
      content: '\e5cc';
      font-family: $font-icons;
      font-size: $icon-small;
      color: $hue-muted;
      opacity: $opacity-fade;
    }
    &.active > a {
      color: $hue-muted;
    }
    &:last-child {
      > a {
        color: $hue-muted;
        text-decoration: none;
      }
      &::after {
        display: none;
      }
    }
  }

}
