.ccs-mar {
  margin: $spacing-base;

  &-top {
    margin-top: $spacing-base;

    &-lar {
      margin-top: $spacing-large;
    }

    &-sma {
      margin-top: $spacing-small;
    }

    &-none {
      margin-top: 0;
    }
  }

  &-right {
    margin-right: $spacing-base;

    &-lg {
      margin-right: $spacing-large;
    }

    &-sm {
      margin-right: $spacing-small;
    }

    &-none {
      margin-right: 0;
    }
  }

  &-bot {
    margin-bottom: $spacing-base;

    &-lg {
      margin-bottom: $spacing-large;
    }

    &-sm {
      margin-bottom: $spacing-small;
    }

    &-none {
      margin-bottom: 0;
    }
  }

  &-left {
    margin-left: $spacing-base;

    &-lg {
      margin-left: $spacing-large;
    }

    &-sm {
      margin-left: $spacing-small;
    }

    &-none {
      margin-left: 0;
    }
  }

  &-lg {
    margin: $spacing-large;
  }

  &-sm {
    margin: $spacing-small;
  }

  &-none {
    margin: 0;
  }
}

.ccs-pad {
  padding: $spacing-base;

  &-top {
    padding-top: $spacing-base;

    &-lg {
      padding-top: $spacing-large;
    }

    &-sm {
      padding-top: $spacing-small;
    }

    &-none {
      padding-top: 0;
    }
  }

  &-right {
    padding-right: $spacing-base;

    &-lg {
      padding-right: $spacing-large;
    }

    &-sm {
      padding-right: $spacing-small;
    }

    &-none {
      padding-right: 0;
    }
  }

  &-bot {
    padding-bottom: $spacing-base;

    &-lg {
      padding-bottom: $spacing-large;
    }

    &-sm {
      padding-bottom: $spacing-small;
    }

    &-none {
      padding-bottom: 0;
    }
  }

  &-left {
    padding-left: $spacing-base;

    &-lg {
      padding-left: $spacing-large;
    }

    &-sm {
      padding-left: $spacing-small;
    }

    &-none {
      padding-left: 0;
    }
  }

  &-lg {
    padding: $spacing-large;
  }

  &-sma {
    padding: $spacing-small;
  }

  &-none {
    padding: 0;
  }
}

.ccs-text-heavy {
  -webkit-font-smoothing: antialiased;
  font-weight: $font-heavy;
}
