// --------------------------------

// (START) Global Editor code https://codyhouse.co/ds/globals/buttons

// --------------------------------

:root{
  --btn-font-size: 1em;
  --btn-font-size-sm: 0.8em;
  --btn-font-size-md: 1.2em;
  --btn-font-size-lg: 1.4em;
  --btn-padding-x: var(--space-md);
  --btn-padding-y: var(--space-xxs);
  --btn-radius: 3em;
}

.btn {
  color: var(--color-primary);
  cursor: pointer;
  border: 2px solid var(--color-white);
  font-family: var(undefined);
  font-weight: 700;
  text-decoration: none;
  line-height: 1;
  @include fontSmooth;
  box-shadow: none;
  transition: all 0.3s ease;

  &:hover {
    background-color: var(--color-white);
    border: 2px solid var(--color-primary);
    box-shadow: none;
  }

  &:focus {
    background-color: var(--color-white);
    box-shadow: none;
    outline: none;
  }

  &:active {
    transform: translateY(2px);
  }
}

// themes
.btn--primary {
  background-color: var(--color-primary);
  color: var(--color-white);
  border-radius: 3rem;
  border: 0px solid transparent;
  @include fontSmooth;

  &:hover {
    background-color: var(--color-primary-dark);
    border: 0px solid transparent;
  }

  &:focus {
    background-color: var(--color-primary-darker);
    border: 0px solid transparent;
    box-shadow: none;
  }

  &:active {
    border: 0px solid transparent;
  }
}

.btn--subtle {
  background-color: var(--color-white);
  color: var(--color-contrast-higher);
  border: 2px solid var(--color-contrast-low);
  font-family: var(undefined);
  font-size: var(--text-sm);
  font-weight: 700;

  &:hover {
    background-color: var(--color-white);
    color: var(--color-primary);
    border: 2px solid var(--color-primary);
  }

  &:focus {
    background-color: var(--color-white);
    box-shadow: none;
  }
}

.btn--accent {
  background-color: var(--color-accent);
  color: var(--color-white);
  border: 0px solid transparent;
  @include fontSmooth;

  &:hover {
    background-color: var(--color-accent-dark);
    border: 0px solid transparent;
  }

  &:focus {
    background-color: var(--color-accent-darker);
    border: 0px solid transparent;
    box-shadow: none;
  }

  &:active {
    border: 0px solid transparent;
  }
}

// feedback
.btn--disabled {
  background-color: var(--color-contrast-medium);
  border: 0px solid transparent;
  color: var(--color-white);
  opacity: 0.6;
  cursor: not-allowed;

  &:hover {
    border: 0px solid transparent;
    background-color: var(--color-contrast-medium);
    color: var(--color-white);
  }

  &:focus {
    background-color: var(--color-contrast-medium);
    color: var(--color-white);
    box-shadow: none;
  }

  &:active {
    background-color: var(--color-contrast-medium);
    color: var(--color-white);
    transform: translateY(0px);
  }
}

// size
.btn--sm {

  &:focus {
    border: 2px solid inherit;
  }
}

.btn--md {
}

.btn--lg {
}

// --------------------------------

// (END) Global Editor Code

// --------------------------------
