// --------------------------------

// (START) Global Editor code https://codyhouse.co/ds/globals/forms

// --------------------------------

:root{
  --form-control-padding-x: var(--space-xx);
  --form-control-padding-y: var(--space-xxx);
  --form-control-radius: 0.3em;
}

.form-control {
  background-color: var(--color-white);
  color: var(--color-black);
  border: 2px solid var(--color-grey-300);
  // font-family: var(undefined);
  // font-weight: 400;
  transition: all 0.3s ease;

  &::placeholder {
    opacity: 1;
    color: var(--color-grey-500);
  }

  &:focus {
    color: var(--color-blue-500);
    border-color: var(--color-blue-500);
    box-shadow: none;
    outline: none;
  }
}

.form-control[disabled], .form-control[readonly] {
  background-color: var(--color-grey-300);
}

// .form-control[aria-invalid="true"] {
//   color: var(--color-contrast-higher);
//   border-color: var(--color-error-dark);
//
//   &:focus {
//     color: var(--color-error-darker);
//   }
// }

// .form-legend {
//   //font-family: var(undefined);
//   font-size: var(--text-md);
//   font-weight: 500;
// }

// .form-label {
//   font-size: var(--text-sm);
// }

// --------------------------------

// (END) Global Editor Code

// --------------------------------
