
///* Webfont: Nimbus Regular*/
@font-face {
  font-display: fallback;
  font-family: 'Nimbus';
  src: url('#{$path-fonts}/Nimbus-Regular.eot'); //* IE9 Compat Modes */
  src: local('Nimbus Sans Regular'),
       url('#{$path-fonts}/Nimbus-Regular.eot?#iefix') format('embedded-opentype'), //* IE6-IE8 */
       url('#{$path-fonts}/Nimbus-Regular.woff') format('woff'), //* Modern Browsers */
       url('#{$path-fonts}/Nimbus-Regular.ttf') format('truetype'),
       url('#{$path-fonts}/Nimbus-Regular.svg#NimbusRegular') format('svg');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

///* Webfont: Nimbus Extended Bold */
@font-face {
  font-display: fallback;
  font-family: 'Nimbus-Ext';
  src: url('#{$path-fonts}/Nimbus-Extd-Bold.eot'); //* IE9 Compat Modes */
  src: local('Nimbus Sans Extd Bold'),
       url('#{$path-fonts}/Nimbus-Extd-Bold.eot?#iefix') format('embedded-opentype'), //* IE6-IE8 */
       url('#{$path-fonts}/Nimbus-Extd-Bold.woff2') format('woff2'), //* Modern Browsers */
       url('#{$path-fonts}/Nimbus-Extd-Bold.woff') format('woff'), //* Modern Browsers */
       url('#{$path-fonts}/Nimbus-Extd-Bold.ttf') format('truetype'),
       url('#{$path-fonts}/Nimbus-Extd-Bold.svg#NimbusExtdBold') format('svg');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}