@font-face {
  font-display: fallback;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src:  url('#{$path-fonts}/Roboto-Regular.eot');
  src:  local('Roboto'), local('Roboto-Regular'),
        url('#{$path-fonts}/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('#{$path-fonts}/Roboto-Regular.woff2') format('woff2'),
        url('#{$path-fonts}/Roboto-Regular.woff') format('woff'),
        url('#{$path-fonts}/Roboto-Regular.ttf') format('truetype'),
        url('#{$path-fonts}/Roboto-Regular.svg#Roboto') format('svg');
}

@font-face {
  font-display: fallback;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src:  url('#{$path-fonts}/Roboto-Medium.eot');
  src:  local('Roboto Medium'), local('Roboto-Medium'),
        url('#{$path-fonts}/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
        url('#{$path-fonts}/Roboto-Medium.woff2') format('woff2'),
        url('#{$path-fonts}/Roboto-Medium.woff') format('woff'),
        url('#{$path-fonts}/Roboto-Medium.ttf') format('truetype'),
        url('#{$path-fonts}/Roboto-Medium.svg#Roboto') format('svg');
  text-rendering: optimizeLegibility;
}

@font-face {
  font-display: fallback;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src:  url('#{$path-fonts}/Roboto-Bold.eot');
  src:  local('Roboto Bold'), local('Roboto-Bold'),
        url('#{$path-fonts}/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
        url('#{$path-fonts}/Roboto-Bold.woff2') format('woff2'),
        url('#{$path-fonts}/Roboto-Bold.woff') format('woff'),
        url('#{$path-fonts}/Roboto-Bold.ttf') format('truetype'),
        url('#{$path-fonts}/Roboto-Bold.svg#Roboto') format('svg');
  text-rendering: optimizeLegibility;
}
