@font-face {
  font-display: fallback;
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: url('#{$path-fonts}/Roboto-Mono-Regular.eot');
  src: local('Roboto Mono'), local('RobotoMono-Regular'),
       url('#{$path-fonts}/Roboto-Mono-Regular.eot?#iefix') format('embedded-opentype'),
       url('#{$path-fonts}/Roboto-Mono-Regular.woff2') format('woff2'),
       url('#{$path-fonts}/Roboto-Mono-Regular.woff') format('woff'),
       url('#{$path-fonts}/Roboto-Mono-Regular.ttf') format('truetype'),
       url('#{$path-fonts}/Roboto-Mono-Regular.svg#RobotoMono') format('svg');
  text-rendering: optimizeLegibility;
  text-transform: none;
}
