#AppHeader {
  align-items: center;
  background: $header-color;
  box-shadow: 0 0.1rem 0 0 rgba($hue-dark, 0.9);
  color: $header-text;
  display: flex;
  height: $header-height;
  padding: 0 1.6rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  .inner {
    @include wrapper;
    @include center;
    @include screen($min: 1440px) {
      padding-left: 0.8rem;
    }
  }
}

#AppActions {
  align-items: center;
  justify-content: flex-end;
  display: flex;
  input[type='search'] {
    @media screen and (min-width: $small-screen) {
      min-width: calc(30.4rem - 5.8rem);
    }
  }
}

#AppNavToggle {
  @include ripple($color: currentColor);
  @include center;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  border-radius: 4rem;
  border: none;
  color: currentColor;
  cursor: pointer;
  height: 4rem;
  margin-left: -.8rem;
  margin-right: .4rem;
  outline: none;
  padding: 0;
  width: 4rem;
  &::after {
    -webkit-font-smoothing: none;
    content: 'menu';
    display: inherit;
    font-family: $font-icons;
    font-size: $icon-medium;
    font-weight: $font-regular;
    opacity: $opacity-sheer;
  }
}

#AppBranding {
  align-items: center;
  display: flex;
  margin: 0 auto 0 0;
  min-height: 6.4rem;
  img {
    max-height: 4rem;
  }
}

#AppProduct {
  -webkit-font-smoothing: antialiased;
  font-size: $font-large;
  align-items: center;
  color: rgba($header-title, .8);
  font-weight: $font-heavy;
  //letter-spacing: 0.02em;
  //word-spacing:0.04em;
  min-width: 1%;
  span {
    @include ellipsis(1);
    flex: 1;
    //color: transparent;
  }
  &::before {
    background: $header-text;
    content: ' ';
    display: flex;
    height: 3.2rem;
    margin: 0 2.4rem;
    opacity: .4;
    width: .2rem;
  }
}

@include screen($max: $small-screen) { // MOBILE
  #AppHeader {
    flex-direction: column;
  }
  #AppProduct, .ccs-search {
    display: none;
  }
}

@include screen($min: $small-screen) { // DESKTOP
  #AppHeader {
    flex-direction: row;
    justify-content: space-between;
  }
  #AppProduct, .ccs-search {
    display: flex;
  }
}
