<footer class="footer">
  <div class="footer-inner">
    <p>
      <a>Privacy Policy</a>
      <a>Terms of Use</a>
      <a>Patents</a>
    </p>
    <p><i>© <script>document.write(new Date().getFullYear());</script> CBS Interactive Inc. All rights reserved.</i></p>
  </div>
</footer>
