  </div>
  </section>
  
  <section class="sidenav" id="AppDrawer">
    <nav aria-hidden="true" class="top">
      <a href="/hc/en-us/sections/360008463631-Quick-Start-Guide">Quick Start</a>
      <a href="/hc/en-us/sections/360008355672-Documentation">Documentation</a>
      <a href="/hc/en-us/sections/360008463611-Release-Notes">Release Notes</a>
      <a href="/hc/en-us/sections/360008355692-Technical-Bulletin">Technical Bulletin</a>
      <a href="/hc/en-us/sections/360008355712-FAQ">FAQs</a>
      {{#link 'new_request' class='ccs-btn-contact'}}Contact Support{{/link}}
    </nav>
    <nav aria-hidden="true" class="bottom">
      <a href="http://cnetcontent.com" rel="noopener" target="_blank">CNET Content Solutions</a>
      <a href="https://www.cbsinteractive.com/legal/cbsi/privacy-policy/highlights" rel="noopener" target="_blank">Privacy Policy</a>
      <a href="https://www.cbsinteractive.com/legal/cbsi/terms-of-use" rel="noopener" target="_blank">Terms of Use</a>
      <a href="https://www.cbsinteractive.com/legal/cbsi/patents" rel="noopener" target="_blank">Patents</a>
      <p>&copy; <script>document.write(new Date().getFullYear());</script>&nbsp;CBS Interactive Inc.</p>
    </nav>
  </section>
  
  <section id="AppFooter">
    <footer class="inner">
      <nav aria-label="footer" class="left">
        <a href="http://cnetcontent.com" rel="noopener" target="_blank">CNET Content Solutions</a>
        <a href="https://www.cbsinteractive.com/legal/cbsi/privacy-policy/highlights" rel="noopener" target="_blank">Privacy Policy</a>
        <a href="https://www.cbsinteractive.com/legal/cbsi/terms-of-use" rel="noopener" target="_blank">Terms of Use</a>
        <a href="https://www.cbsinteractive.com/legal/cbsi/patents" rel="noopener" target="_blank">Patents</a>
      </nav>
      <p class="right">&copy; <script>document.write(new Date().getFullYear());</script>&nbsp;CBS Interactive Inc.</p>
    </footer>
  </section>
  
</div>

<!-- {{#link 'help_center'}}{{help_center.name}}{{/link}} -->

