<div id="AppLayout">
<header id="AppHeader">
  <div class="ccs-branding">
    <button class="ccs-btn-icon" id="AppButton" onclick="toggleDrawer()"> <i class="ccs-icons">menu</i></button>
    <a href="https://extranetsandbox.zendesk.com/hc/en-us"><img src="{{asset 'content-solutions-dark.svg'}}" /></a>
    <p class="ccs-product">Extranet Help</p>
  </div>
  <div id="AppSearch" class="ccs-search">
    <div class="ccs-input-group">
      <label for="input-2c"><i class="ccs-icons">search</i></label>
      {{search submit=false}}
    </div>
  </div>
</header>
<span class="ccs-anchor" id="top" name="top"></span>
<nav id="AppNav" aria-label="desktop">
  {{#link 'new_request' class='submit-a-request'}}Contact Support{{/link}}
  <a data-topic="Quick Start Guide" href="/hc/en-us/sections/360008463631-Quick-Start-Guide">Quick Start Guide</a>
  <a data-topic="Documentation" href="/hc/en-us/sections/360008355672-Documentation">Documentation</a>
  <a data-topic="Release Notes" href="/hc/en-us/sections/360008463611-Release-Notes">Release Notes</a>
  <a data-topic="Technical-Bulletin" href="/hc/en-us/sections/360008355692-Technical-Bulletin">Technical Bulletin</a>
  <a data-topic="FAQ" href="/hc/en-us/sections/360008355712-FAQ">FAQs</a></nav>
</nav>
<section id="AppPage">
  <div id="ArticleLayout">
  <!-- a class="skip-navigation" tabindex="1" href="#main-content" style="display:none">{{t 'skip_navigation' }}</a -->
