<a class="skip-navigation" tabindex="1" href="#main-content">{{t 'skip_navigation' }}</a>
<header id="ccs-support--header"><img src="{{asset 'content-solutions-dark.svg'}}" />
  <p>Extranet Help</p>
</header>
<div id="ccs-support--naviagtion">
  <div class="nav-wrapper">
    <nav class="user-nav" id="ccs-user-nav">
      {{#link 'new_request' class='submit-a-request'}}Contact Support{{/link}}
      <a href="/hc/en-us/sections/360008463631-Quick-Start-Guide">Quick Start Guide</a>
      <a href="/hc/en-us/sections/360008355672-Documentation">Documentation</a>
      <a href="/hc/en-us/sections/360008463611-Release-Notes">Release Notes</a>
      <a href="/hc/en-us/sections/360008355692-Technical-Bulletin">Technical Bulletin</a>
      <a href="/hc/en-us/sections/360008355712-FAQ">FAQs</a></nav>
  </div>
</div>