<a class="skip-navigation" tabindex="1" href="#main-content">{{t 'skip_navigation' }}</a>
<header class="header">
  <section class="header-inner">
    <div class="logo">
      {{#link 'help_center'}}<img src="{{asset 'content-solutions-dark.svg'}}" alt="Extranet Help Center">{{/link}}
      <span class="visibility-tablet">Extranet Help</span>
    </div>
    <div class="nav-wrapper visibility-tablet">
      <a class="new-request" href="/hc/en-us/requests/ne  w">Contact Us</a>
    </div>
  </div>
</header>
