<a class="skip-navigation" tabindex="1" href="#main-content">{{t 'skip_navigation' }}</a>
<header class="header">
  <div class="header-inner">
    <div class="logo">
      {{#link 'help_center'}}
        <img src="{{asset 'content-solutions-dark.svg'}}" alt="Extranet Help Center">
      {{/link}}
      <span>Extranet Help</span>
    </div>
    <div class="nav-wrapper">
      <a class="new-request" href="/hc/en-us/requests/new">Contact Us</a>
    </div>
  </div>
</header>
