
<section id="TemplateRequest" class="ccs-doc-page">
  <article class="ccs-doc-content">
    <nav class="ccs-doc-path" aria-label="breadcrumbs">{{breadcrumbs}}</nav>
    <header id="ccs-page--title" class="page-header"><h1>{{t 'submit_a_request'}} <span class="follow-up-hint">{{follow_up}}</span></h1></header>
    <div class="ccs-doc-body">
      {{request_form}}
    </div>
  </article>
</section>