<div id="ccs-page" class="container">

  <div id="ccs-page--wrapper" >
    
    <header id="ccs-page--title" class="page-header">
      <h1>
        {{breadcrumbs}} <!-- > {{t 'submit_a_request'}} -->
        <span class="follow-up-hint">
          {{follow_up}}
        </span>
      </h1>
    </header>
    <div id="ccs-page--content" class="form">
      {{request_form}}
    </div>
    
  </div>
</div>