
.ccs-form {
  &-feild {
    max-width: 304px;
    overflow: hidden;
    box-shadow: $box-stroke;
    background: white;
    font-size: inherit;
    &:active, &:focus, &:focus-within {
      box-shadow: $box-active;
    }
    input {
      height: $button-height;
      background-image: none;
    }
    input, textarea {
      transition: background-color 0.3s ease-out;
      background: transparent !important;
      border: none;
      color: rgba($hue-dark, 0.9);
      font-family: $font-body;
      font-size: $font-base;
      font-weight: $font-medium;
      padding: 0 .5rem;
      &:active, &:focus {
        color: $hue-primary;
        background: white;
        &::placeholder {
          color: rgba($hue-muted,$opacity-sheer);
        }
      }
      @include input-placeholder {
        color: rgba($hue-muted,$opacity-sheer);
        font-weight: $font-regular;
      }
      &[disabled] {
        font-weight: $font-regular !important;
        color: $hue-muted !important;
        cursor: default;
      }
    }
    input {
      width: calc(100% - 20px);
      height: 28px;
      margin: 2px;
    }
    textarea {
      min-height: calc(64px - 16px) !important;
      padding: 8px !important;
      width: calc(100% - 16px);
      resize: none;
      margin: 1px -1px -2px -1px;
    }
  }
  &-stacked {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    font-size: inital;
    label, p {
      margin: 0;
      padding: 0 0 .5rem;
    }
  }
  &-select {
    position: relative;
    box-shadow: $box-stroke;
    background: white;
    vertical-align: middle;
    padding: 0 .5rem 0 .75rem;
    height: $button-height;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: calc(304px - 1.25rem);
    font-size: initial;
    //max-width: 304px;
    &-stacked {
      display: flex;
      flex-flow: column;
      justify-content: flex-start;
      padding: .75rem 0;
      label, p {
        margin: 0;
        padding: 0 0 .5rem;
      }
    }
    &:active, &:focus, &:focus-within {
      box-shadow: $box-active;
      &::after {
        color: $hue-primary;
      }
    }
    &::after {
      font-family: $font-icons;
      color: $hue-muted;
      cursor: default;
      display: block;
      content: '\e5c5';
      font-size: $icon-medium;
      width: $icon-medium;
    }
    select {
      appearance: none;
      background: transparent;
      border: none;
      color: rgba($hue-dark, 0.9);
      cursor: pointer;
      font-family: $font-body;
      font-size: $font-base;
      font-weight: $font-medium;
      height: $button-height;
      min-width: 112px;
      width: 100%;
      outline: none;
      &:active, &:focus {
        color: $hue-primary;
      }
      &[disabled] {
        font-weight: $font-regular !important;
        color: $hue-muted !important;
        cursor: default;
        user-select: none;
        z-index: 1;
      }
      //option:disabled, option[disabled] {
      //  font-weight: $font-regular;
      //  color: $hue-muted;
      //}
      //&:-moz-focusring, &:focus::-ms-value, &::-moz-focus-inner {
      //  outline: none !important;
      //  background: transparent;
      //  color: $hue-primary;
      //}
    } 
  }
  &-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    max-width: 304px;
    font-size: initial;
    label {
      line-height: 32px;
      padding: 0 16px;
      box-shadow: inset 0 -1px 0 0 $hue-line, inset 0 1px 0 0 $hue-line, inset 1px 0 0 0 $hue-line;
      border-bottom-left-radius: $rounded-medium;
      border-top-left-radius: $rounded-medium;
      font-size: $font-small;
    }
    .ccs-form-feild {
      box-shadow: inset 0 -1px 0 0 $hue-line, inset 0 1px 0 0 $hue-line, inset 1px 0 0 0 $hue-line, inset -1px 0 0 0 $hue-line;
      position: relative;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      width: 1%;
      border-radius: 0;
      &:active, &:focus, &:focus-within {
        box-shadow: $box-active;
      }
    }
    [class*='ccs-button'] {
      &:first-child {
        border-bottom-left-radius: $rounded-medium;
        border-top-left-radius: $rounded-medium;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        margin-right: -1px;
      }
      + [class*='ccs-button'] {
        border-radius: 0;
        margin: 0 0 0 -1px;
      }
      &:last-child, &[disabled]:last-child {
        border-bottom-left-radius: 0 !important;
        border-top-left-radius: 0 !important;
        border-bottom-right-radius: $rounded-medium;
        border-top-right-radius: $rounded-medium;
        margin-right: 0;
      }
    }
    .ccs-button-subtle:last-child {
      box-shadow: inset -1px 0 0 0 $hue-line, inset 0 1px 0 0 $hue-line, inset 0 -1px 0 0 $hue-line;
    }
    &.disabled {
      .ccs-form-feild {
        &:active, &:focus, &:focus-within {
          box-shadow: inset 0 -1px 0 0 $hue-line, inset 0 1px 0 0 $hue-line, inset 1px 0 0 0 $hue-line, inset -1px 0 0 0 transparent;
        }
      }
      [class*='ccs-button'] {
        box-shadow: inset -1px 0 0 0 $hue-line, inset 0 1px 0 0 $hue-line, inset 0 -1px 0 0 $hue-line;
      }
    }
  }
}

label {
  font-family: $font-body;
  font-size: $font-base;
  color: $hue-text;
  display: flex;
  justify-content: space-between;
}

.error {
  position: relative;
  .ccs-form-feild-stacked {
    width: 100%;
  }
  .ccs-form-feild {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &::after {
      content:'';
      color: $hue-warning;
      background: transparent url("data:image/svg+xml,%3Csvg height='16' viewBox='0 0 16 16' width='16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m8 .5c4.1421356 0 7.5 3.35786438 7.5 7.5 0 4.1421356-3.3578644 7.5-7.5 7.5-4.14213563 0-7.5-3.3578644-7.5-7.5 0-4.14213563 3.35786438-7.5 7.5-7.5zm0 1.63333333c-3.24007053 0-5.86666667 2.62659614-5.86666667 5.86666667 0 3.2400705 2.62659614 5.8666667 5.86666667 5.8666667 3.2400705 0 5.8666667-2.6265962 5.8666667-5.8666667 0-3.24007053-2.6265962-5.86666667-5.8666667-5.86666667zm1 5.36666667v4c0 .2761424-.22385763.5-.5.5h-1c-.27614237 0-.5-.2238576-.5-.5v-4c0-.27614237.22385763-.5.5-.5h1c.27614237 0 .5.22385763.5.5zm0-3v1c0 .27614237-.22385763.5-.5.5h-1c-.27614237 0-.5-.22385763-.5-.5v-1c0-.27614237.22385763-.5.5-.5h1c.27614237 0 .5.22385763.5.5z' fill='%23d55' fill-rule='evenodd'/%3E%3C/svg%3E") no-repeat center;
      height: 32px;
      width: 32px;
      margin: 0 2px 0 0;
      opacity: $opacity-soften;
    }
    input[type=text], input[type=password] {
      width: calc(100% - 32px);
      margin-right: -1px;
    }
    textarea {
      margin: 1px auto;
    }
  }
  .ccs-form-select {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    &::after {
      order: 2;
    }
    &::before {
      content: '';
      color: $hue-warning;
      background: transparent url("data:image/svg+xml,%3Csvg height='16' viewBox='0 0 16 16' width='16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m8 .5c4.1421356 0 7.5 3.35786438 7.5 7.5 0 4.1421356-3.3578644 7.5-7.5 7.5-4.14213563 0-7.5-3.3578644-7.5-7.5 0-4.14213563 3.35786438-7.5 7.5-7.5zm0 1.63333333c-3.24007053 0-5.86666667 2.62659614-5.86666667 5.86666667 0 3.2400705 2.62659614 5.8666667 5.86666667 5.8666667 3.2400705 0 5.8666667-2.6265962 5.8666667-5.8666667 0-3.24007053-2.6265962-5.86666667-5.8666667-5.86666667zm1 5.36666667v4c0 .2761424-.22385763.5-.5.5h-1c-.27614237 0-.5-.2238576-.5-.5v-4c0-.27614237.22385763-.5.5-.5h1c.27614237 0 .5.22385763.5.5zm0-3v1c0 .27614237-.22385763.5-.5.5h-1c-.27614237 0-.5-.22385763-.5-.5v-1c0-.27614237.22385763-.5.5-.5h1c.27614237 0 .5.22385763.5.5z' fill='%23d55' fill-rule='evenodd'/%3E%3C/svg%3E") no-repeat center;
      height: 32px;
      width: 32px;
      order: 1;
      margin-right: -8px;
      opacity: $opacity-soften;
    }
    select {
      width: calc(100% - 32px);
      margin-right: -1px;
    }
  }
  .ccs-font-warning {
    padding-top: 2px;
    padding-bottom: 0;
    display: block;
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
  }
}

.full {
  max-width: none;
  //input {
  //  width: calc(100% - 12px);
  //}
  .ccs-form {
    &-select, &-feild, &-group {
      max-width: none;
    }
  }
}

.disabled {
  user-select: none;
  &::selection {
    background: transparent;
  }
  .ccs-form-feild, .ccs-form-select {
    background: $hue-silver;
    box-shadow: $box-stroke;
    &:active, &:focus, &:focus-within {
      box-shadow: $box-stroke !important;
    }
  }
}