/***** Attachments *****/
/* Styles attachments inside posts, articles and comments */
.attachments {
  list-style: none;
  padding: 0;
  margin: 0;
  .attachment-item {
    border-top: solid 1px var(--color-grey-300);
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;

    &:last-child { margin-bottom: 0; }

    .attachment-button {
      display: flex;
      flex-flow: row;
      align-items: center;
      a {
        font-weight: var(--font-weight-bold);
        color: var(--color-black);
      }
      a:hover {
        color: var(--color-blue-500);
        text-decoration: none;
      }
    }

    .attachment-icon {
      overflow: hidden;
      position: relative;
      color: var(--color-grey-500);
      height: 2.4rem;
      width: 2.4rem;
      font-size: 2.4rem;
      font-family: $glyph_icon;
      margin-right: 1.6rem;
      text-decoration: none;
    }

    .meta-group {
      a { text-decoration: none; }
    }

    [dir="rtl"] & {
      padding-left: 0;
      padding-right: 2rem;

      .attachment-icon {
        left: auto;
        right: 0;
      }
    }

  }
}

.upload-dropzone span {
  color: $secondary-text-color;
}
