/***** Blocks *****/
.blocks {

  // &-header {
  //   font-size: 2.4rem;
  //   font-weight: var(--font-weight-heavy);
  //   color: var(--color-black);
  //   text-align: center;
  //   margin: 3.2rem 0 5.6rem;
  //   position: relative;
  //   &::after {
  //     content: "";
  //     display: block;
  //     width: 36px;
  //     height: 3px;
  //     background-color: var(--color-blue-500);
  //     position: absolute;
  //     left: 50%;
  //     margin-left: -1.8rem;
  //     bottom: -1.8rem;
  //   }
  // }

  &-list {
    @include tablet {
      margin: 0 -15px;
    }

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    padding: 0;

    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px;
  }

  &-item {
    @include tablet {
      margin: 0 15px 3rem;
    }
    background: white;
    border-radius: 4px;
    box-shadow: 0 0 0 2px var(--color-grey-300);
    box-sizing: border-box;
    color: var(--color-grey-700);
    display: flex;
    flex-direction: column;
    flex: 1 0 240px;
    font-size: 1.8rem;
    margin: 0 0 3rem;
    max-width: 100%;
    padding: 4.8rem 1.6rem 3.2rem;
    text-align: center;

    svg {
      color: var(--color-grey-500);
      margin: auto;
      max-height: 3.2rem;
      max-width: 3.2rem;
    }


    &:hover {
      svg, a {
        color: var(--color-blue-500);
      }
    }


    // &:hover {
    //   box-shadow: 0 0 0 2px var(--color-blue-500);
    // }

    &-internal {
      background-color: transparent;
      border: 1px solid $border-color;

      .icon-lock {
        height: 15px;
        width: 15px;
        bottom: 5px;
        position: relative;
      }

    }
  }

  &-item-link {
    color: var(--color-black);
    border-radius: inherit;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    padding: 2rem 3rem;
    font-weight: var(--font-weight-semibold);
    text-decoration: none;


    &:hover,
    &:active {
      color: var(--color-blue-500);
      text-decoration: underline;
      //background: #E7F3FB;
    }

    //&:focus {
    //  //@include focus-ring;
    //  text-decoration: none;
    //}
  }

  // &-item-title {
  //   margin-bottom: 0;
  //   font-size: 1.8rem;
  // }

  // &-item-description {
  //   font-weight: var(--font-weight-normal);
  //   margin: 0;
  // }

  &-item-description:not(:empty) {
    margin-top: 1rem;
  }
}
