/***** Buttons *****/


@mixin button-base($case:uppercase) {
  @include ripple($color: currentColor);
  -webkit-touch-callout: none;
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  line-height: 1;
  outline: none;
  text-decoration: none;
  text-transform: $case;
  transition: background-color .12s ease-in-out, border-color .12s ease-in-out, color .15s ease-in-out;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  word-spacing: .06em;
}

.button, input[type="submit"] {
  background-color: var(--color-grey-200);
  border-radius: var(--btn-radius);
  border: solid 0 var(--color-grey-300);
  color: var(--color-black);
  font-size: var(--btn-font-size);
  font-weight: var(--font-weight-heavy);
  min-height: var(--btn-height);
  padding: 0 var(--btn-padding);
  @include button-base;
  &:hover {
    background: var(--color-blue-100);
    color: var(--color-blue-500);
  }
  &.button-primary {
    background-color: var(--color-blue-500);
    color: var(--color-white);
    font-weight: var(--font-weight-heavy);
    &:hover {
      background-color: var(--color-blue-600);
    }
  }
  &[data-disabled], &[disabled] {
    cursor: default;
    background-color: var(--color-grey-200);
    color: var(--color-grey-400);
    &::before {
      color: transparent;
    }
  }
}

// .button-large {
//   --btn-height: 4.8rem;
//   --btn-padding: 3.2rem;
//   --btn-font-size: 1.8rem;
//   --btn-font-weight: var(--font-weight-heavy);
//   --btn-radius: 4rem;
//   font-kerning: none;
// }

.button-secondary {
  border: 2px solid var(--color-grey-400);
  background-color: var(--color-white);
  &:hover {
    color: var(--color-blue-500);
    border: 2px solid var(--color-blue-400);
    background-color: var(--color-white);
  }
}
