/* Navigation element that collapses on mobile */
.collapsible-nav {
  @include tablet {
    flex-direction: row;
  }

  flex-direction: column;
  font-size: $font-size-navigation;
  position: relative;
}

.collapsible-nav-border {
  @include tablet {
    border-top: 0;
  }

  //border-bottom: 2px solid $border-color;
  //border-top: 2px solid $border-color;
}

.collapsible-nav-toggle {
  @include tablet { display: none; }
  top: calc(45px / 2);
  transform: translateY(-50%);
  position: absolute;
  right: 0;
  padding: 0;
  border: 0;
  background: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;

  [dir="rtl"] & {
    left: 0;
    right: auto;
  }

  &-icon {
    display: none;
  }

  &[aria-expanded="false"] {
    .chevron-icon {
      display: inline-block;
    }
  }

  &[aria-expanded="true"] {
    .x-icon {
      display: inline-block;
    }
  }

  &:focus {
    outline: none;
    border: 1px solid var(--color-blue-500);
  }
}

.collapsible-nav-list {
  @include tablet {
    flex-direction: row;
  }

  display: flex;
  flex-direction: column;

  li {
    @include tablet {
      line-height: normal;
      margin-right: 3rem;

      [dir="rtl"] & {
        margin-left: 3rem;
        margin-right: 0;
      }

      a {
        text-decoration: none;
        padding: 1.6rem 0;
        font-weight: var(--font-weight-medium);
      }
    }

    color: var(--color-grey-700);
    line-height: 40rem;
    order: 1; // All elements have the same order

    a {
      color: var(--color-grey-700);
      display: block;
      font-size: 1.6rem
    }
  }

  li:hover {
    @include tablet {
      //border-bottom: 4px solid #ddd;
      box-shadow: 0 2px 0 var(--color-blue-500);

      a:not([aria-current="page"]) {
        padding: 15px 0 11px 0;
        text-decoration: none;
        color: var(--color-blue-500);
      }
    }
  }

  li:not([aria-selected="true"]),
  li:not(.current) {
    @include tablet { display: block; }
    display: none;
  }

  li[aria-selected="true"] {
    @include tablet {
      padding: 15px 0 11px 0;
    }
  }

  li[aria-selected="true"],
  li.current {
    @include tablet {
      // border-bottom: 4px solid var(--color-blue-500);
      box-shadow: 0 2px 0 var(--color-grey-700);
      order: 1;
    }

    order: 0; //Move to top of menu
    position: relative;

    a { color: var(--color-grey-700); }
  }
}

.collapsible-nav[aria-expanded="true"] {
  li:not([aria-selected="true"]),
  li:not(.current) {
    display: block;
  }
}
