/* Sidebar navigation that collapses on mobile */
.collapsible-sidebar {

    border: solid 2px var(--color-grey-300);
    border-radius: .5rem;
    padding: .75rem;
    cursor: pointer;

  @include desktop {
    border: none;
    border-radius: .5rem;
    padding: 0;
    cursor: default;
  }

  flex: 1;
  max-height: 4.8rem;
  overflow: hidden;
  padding: .8rem 0;
  position: relative;

  ul {
    padding-left: 0;

    li {
      display: flex;
      white-space: nowrap;
      vertical-align: middle;
      align-items: center;
      a {
        width: 100%;
        padding-left: 2rem;
        line-height: 4rem;
        overflow: hidden;
        text-overflow: ellipsis;
        text-decoration: none;

        &:hover {
          color: var(--color-blue-500);
          text-decoration: underline;
        }
      }
    }
  }

  @include desktop {
    max-height: none;

    ul {
      background: white;

      li {
        max-width: 250px;

        a {
          border-left: solid 2px var(--color-grey-300);

          &.current {
            color: var(--color-blue-500);
            border-left: solid 2px var(--color-blue-500);
            font-weight: var(--font-weight-bold);
            text-decoration: none;
          }
        }

      }
    }
  }

  //&-title {
  //  margin-top: 0;
  //  padding: 0 .8rem;
  //}

  &-toggle {
    @include desktop { display: none; }
    position: absolute;
    top: calc(0% + 2.2rem);
    transform: translateY(-50%);
    right: 1.8rem;
    border: 0;
    background: none;
    width: 2.4rem;
    height: 2.4rem;

    [dir="rtl"] & {
      left: 0;
      right: auto;
    }

    &-icon {
      display: none;
    }

    &[aria-expanded="false"] {
      .chevron-icon {
        display: inline-block;
      }
    }

    &[aria-expanded="true"] {
      .x-icon {
        display: inline-block;
      }
    }

    &:focus {
      outline: none;
      border: 2px solid $border-color;
    }
  }

  &-body {

    @include desktop {
      display: block;
      padding: 1.6rem 0;
    }
    display: none;
  }

  &[aria-expanded="true"] {
    max-height: none;

    .collapsible-sidebar-body {
      display: block;
      @include mobile {
        padding-top: 2.4rem;
      }
    }

  }

  .sidenav-title {
    @include title;
    display: inline-flex;
    padding-left: 2rem;
    @include desktop {
      padding-left: 0;
    }
  }

  .article-sidebar-item {
    background-color: var(--color-grey-200);
    border-radius: var(--btn-radius);
    border: solid 0 var(--color-grey-300);
    color: var(--color-black);
    font-size: var(--btn-font-size);
    font-weight: var(--font-weight-bold);
    min-height: var(--btn-height);
    padding: 0 var(--btn-padding);
    @include button-base;
    margin-top: 2.4rem;
    margin-left: 1.6rem;
    margin-bottom: 1.6rem;
    @include desktop {
      margin-left: 0;
    }
  }
}
