/* Sidebar navigation that collapses on mobile */
.collapsible-sidebar {

    border: solid 2px var(--color-grey-300);
    padding: .75rem;
    cursor: pointer;
    border-radius: 3rem;

    .sidenav-item a {
      padding: .4rem 0;
    }

    &[aria-expanded='true'] {
      border-radius: 1.4rem;
    }

  @include desktop {
    border: none;
    border-radius: .25rem;
    padding: 0;
    cursor: default;
  }

  flex: 1;
  max-height: 4.8rem;
  overflow: hidden;
  padding: .8rem 0;
  position: relative;

  ul {
    list-style: disc;
    padding: .8em 0 0 2.4rem;
    margin: 0 auto 1.6rem;
    display: flex;
    flex-flow: column;

    li {
      list-style-position: inside;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      min-height: 2.5rem;
    }
  }


  @include desktop {
    max-height: none;

    ul {
      background: white;
      padding-left:  0;
      list-style: none;
      width: 250px;

      li {
        max-width: 250px;

        a {
          border-left: solid 2px var(--color-grey-300);
          padding: 1rem 0 1rem 1rem;
          text-decoration: none;
          color: var(--color-grey-700);
          line-height: 3.8rem;
          margin: -1px 0 0;

          &.current {
            color: var(--color-blue-500);
            border-left: solid 3px var(--color-blue-500);
            font-weight: var(--font-weight-bold);
            text-decoration: none;
          }
        }

      }
    }
  }

  //&-title {
  //  margin-top: 0;
  //  padding: 0 .8rem;
  //}

  &-toggle {
    @include desktop { display: none; }
    position: absolute;
    top: calc(0% + 2.2rem);
    transform: translateY(-50%);
    right: 1.8rem;
    border: 0;
    background: none;
    width: 2.4rem;
    height: 2.4rem;

    [dir="rtl"] & {
      left: 0;
      right: auto;
    }

    &-icon {
      display: none;
    }

    &[aria-expanded="false"] {
      .chevron-icon {
        display: inline-block;
      }
    }

    &[aria-expanded="true"] {
      .x-icon {
        display: inline-block;
      }
    }

    &:focus {
      outline: none;
      border: 2px solid $border-color;
    }
  }

  &-body {

    @include desktop {
      display: block;
    }
    display: none;
  }

  &[aria-expanded="true"] {
    max-height: none;

    .collapsible-sidebar-body {
      display: block;
    }

  }

  .sidenav-title {
    font-weight: var(--font-weight-semibold);
    color: var(--color-black);
    font-size: 1.6rem;
    display: inline-flex;
    padding-left: 2rem;
    @include desktop {
      padding-left: 0;
      @include title;
    }
  }

  .article-sidebar-item {
    background-color: var(--color-grey-200);
    border-radius: var(--btn-radius);
    border: solid 0 var(--color-grey-300);
    color: var(--color-black);
    font-size: var(--btn-font-size);
    font-weight: var(--font-weight-bold);
    min-height: var(--btn-height);
    padding: 0 var(--btn-padding);
    @include button-base;
    margin-left: 1.6rem;
    margin-bottom: 1.4rem;
    @include desktop {
      margin-left: 0;
    }
    &:hover {
      background: var(--color-blue-100);
      color: var(--color-blue-500);
    }
  }
}
