/***** Forms *****/


.form {
  max-width: 640px;
}

.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  //padding: 1.4rem 1.6rem;
  //border-width: 2px;
  //border-style: solid;
  //border-color: var(--color-grey-300);
  //border-radius: 4px;

  ~ .form-field {
   margin-top: 2.4rem;


 }
  //label {
  //  @include tag ;
  //}
  input, textarea {
    background: white;
    outline: none;
    //border: none;
    //margin: -1px;
    //padding: 0;
    //color: var(--color-grey-700);
    font-size: 1.6rem;
    font-weight: var(--font-weight-medium);
    //border-radius: 2px;
    // &:focus {
    //   color: #004499;
    // }
    // &:focus-within {
    //   border-color: var(--color-blue-500);
    // }
  }

  // textarea {
  //   min-height: 72px;
  //   line-height: 1.5;
  // }
}

*.js-validate-error-field {
  border: 2px solid #d93f4c !important;

  // &:focus-within {
  // }
}

.js-validate-error-label {
  padding-top: .4rem;
  font-size: 1.4rem;
  font-style: italic;
}

//
// .form-field input[type="text"] {
//   border: 1px solid $border-color;
//   border-radius: 4px;
//
//   &:focus { border: 1px solid var(--color-blue-500); }
// }
//
// .form-field input[type="checkbox"] {
//   width: auto;
// }
//
// // Select box
// .form-field .nesty-input {
//   border-radius: 4px;
//   height: 40px;
//   line-height: 40px;
//   outline: none;
//   vertical-align: middle;
//
//   &:focus {
//     border: 1px solid var(--color-blue-500);
//     text-decoration: none;
//   }
// }
//
// .form-field .hc-multiselect-toggle:focus {
//   outline: none;
//   border: 1px solid var(--color-blue-500);
//   text-decoration: none;
// }
//
// .form-field textarea {
//   vertical-align: middle;
// }
//
// .form-field input[type="checkbox"] + label {
//   margin: 0 0 0 10px;
// }
//
// .form-field .optional {
//   color: $secondary-text-color;
//   margin-left: 4px;
// }
//
// .form-field p {
//   color: $secondary-text-color;
//   font-size: 12px;
//   margin: 5px 0;
// }
//
// .form footer {
//   margin-top: 40px;
//   padding-top: 3rem;
// }
//
// .form footer a {
//   color: $secondary-text-color;
//   cursor: pointer;
//   margin-right: 15px;
// }
//
// .form .suggestion-list {
//   font-size: $font-size-small;
//   margin-top: 3rem;
//
//   label {
//     border-bottom: 2px solid $border-color;
//     display: block;
//     padding-bottom: 5px;
//   }
//
//   li {
//     padding: 10px 0;
//
//     a:visited { color: $visited-link-color; }
//   }
// }
