/***** Hero component *****/
.hero {
  overflow: hidden;
  position: relative;
  padding-top: calc(4% + 80px);
  padding-bottom: 4%;
  color: var(--color-white);
  margin-bottom: 4rem;
  text-align: center;
  font-weight: 600;
  width: 100%;

  &:before {
    bottom: 0;
    content: "";
    left: 0;
    opacity: .9;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    //background-color: var(--color-blue-600);
    background: #0951aa;
    background: linear-gradient(135deg,#2233cc 25%,#0077cc 75%);
    background-attachment: fixed;
  }

  &-inner {
    @include max-width-container;
    margin: 0 auto;
    z-index: 10;
    position: relative;
  }

  img.banner {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    min-height: 100%;
    transform: translateY(-50%);
    filter: blur(0px) grayscale(50%) contrast(125%) saturate(200%);
    backface-visibility: hidden;
    transition: opacity ease-out .5s;
    z-index: -1;
  }

  h2 {
    font-weight: var(--font-weight-heavy);
    font-size: 3.2rem;
    margin: 0;
    color: var(--color-white);
    text-align: center;
    padding-top: 1.6rem;
    display: block;
  }
  p {
    font-size: 1.6rem;
    font-weight: var(--font-weight-medium);
    margin-bottom: 0;
    opacity: .72;
  }

  .search {
    padding: 1.6rem 0 2.4rem;
    position: relative;
    display: flex;
    justify-content: space-around;
    max-width: 55.4rem;
    margin: auto;
    //filter: drop-shadow(0 0 0.02rem rgba(#{var(--color-blue-800)},.5));


    &::before {
      z-index: 10;
      font-family: $glyph_icon;
      content: "search";
      font-size: 24px;
      color: var(--color-grey-500);
      font-weight: var(--font-weight-normal);
      position: absolute;
      left: 1.6rem;
      padding-top: .6rem;
    }

    input[type="search"] {
      border-radius: 3rem;
      border: none;
      //box-shadow: 0 0 2px var(--color-blue-800);
      font-size: 1.7rem;
      font-weight: var(--font-weight-medium);
      height: 4.8rem;
      line-height: 4.8rem;
      padding-left: 5.6rem;
      width: 100%;
      outline: 0;

      &:focus {
        color: $field-text-focus-color;
        font-weight: 600;
      }
    }
  }
}
