/***** Metadata *****/
.meta-group {
  display: block;
}

.meta-group * {
  display: inline;
}

.meta-data {

  @include tag(#{var(--color-grey-700)});
  display: inline-flex;
  align-items: center;
  vertical-align: middle;

  &:not(:last-child)::after {
    font-size: 2rem;
    content: "\00B7";
    margin: -.4rem 1rem .1rem;
    line-height: 0;
  }
}
