/***** Section pages *****/
.section {

  &-container {
    display: flex;
    justify-content: flex-end;
  }

  &-content {
    @include desktop {
      flex: 1 1 100%;
    }
    flex: 1;
    padding: 2.4rem 0;
  }

  &-subscribe button {
    //@extend .button;
    &[data-selected="true"] {
      //@extend .button-primary;
    }
  }

}


.see-all-sections-trigger {
  @include tablet { width: auto; }
  @include button-base(initial);
  border-top: 2px solid var(--color-grey-300);
  padding: 1.6rem 2.4rem;
  display: block;
  text-align: center;
  color: var(--color-blue-500);
  font-weight: 600;
  &:hover {
    //--btn-hue-fill: var(--color-white);
    --btn-hue-label: var(--color-blue-500);
    text-decoration: underline;
  }
  a {
    color: inherit;
  }

  &[aria-hidden="true"] {
    display: none;
  }

}
