/***** Blocks *****/
/* Used in Homepage#categories and Community#topics */
.blocks {
  &-list {
    @include tablet {
      margin: 0 -15px;
    }

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style: none;
    padding: 0;
  }

  &-item {
    @include tablet {
      margin: 0 15px 30px;
    }

    border: 1px solid $hue-line;
    border-radius: 4px;
    box-sizing: border-box;
    color: $hue-dark;
    display: flex;
    flex: 1 0 248px;
    margin: 0 .5rem 1rem;
    max-width: 100%;
    text-align: center;
        min-height: 88px;

    &:hover,
    &:focus,
    &:active {
      //background-color: $brand_color;

      * {
        color: $hue-outline;
        text-decoration: none;
      }
    }

    &-internal {
      background-color: transparent;
      border: 1px solid $border-color;

      .icon-lock {
        height: 15px;
        width: 15px;
        bottom: 5px;
        position: relative;
      }

      a { color: $text_color; }
    }
  }

  &-item-link {
    color: $hue-dark;
    padding: 20px 30px;
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: center;
    border-radius: inherit;
    text-decoration: none;
    font-weight: $font-bold;

    &:hover,
    &:active {
      text-decoration: none;
    }
    
    &:focus {
      //@include focus-ring;
      text-decoration: none;
    }
  }

  &-item-title {
    margin-bottom: 0;
    font-size: .875rem;
    line-height: 2rem;
    padding-left: 1rem;
    align-self: center;
  }

  &-item-description {
    font-weight: $font-semibold;
    margin: 0;
  }

  &-item-description:not(:empty) {
    margin-top: 10px;
  }
}
