/***** Buttons *****/


@mixin button-base($case:uppercase) {
  @include ripple($color: currentColor);
  -webkit-touch-callout: none;
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  line-height: 1;
  outline: none;
  text-decoration: none;
  text-transform: $case;
  transition: background-color .12s ease-in-out, border-color .12s ease-in-out, color .15s ease-in-out;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.button, input[type="submit"] {
  background: var(--btn-hue-fill);
  border-radius: var(--btn-radius);
  border: solid 0 var(--btn-hue-fill);
  color: var(--btn-hue-label);
  font-size: var(--btn-font-size);
  font-weight: var(--btn-font-weight);
  min-height: var(--btn-height);
  padding: 0 var(--btn-padding);
  @include button-base;
  &:hover {
    --btn-hue-fill: var(--color-grey-300);
    --btn-hue-label: inherit;
  }
  &.button-primary {
    --btn-hue-fill: #{$brand_color};
    --btn-hue-label: white;
    text-decoration: none;
  }
  &[data-disabled], &[disabled] {
    cursor: default;
    --btn-hue-fill: var(--color-grey-200);
    --btn-hue-label: var(--color-grey-400);
    &::before {
      color: transparent;
    }
  }
}

// .button-large {
//   --btn-height: 4.8rem;
//   --btn-padding: 3.2rem;
//   --btn-font-size: 1.8rem;
//   --btn-font-weight: 800;
//   --btn-radius: 4rem;
//   font-kerning: none;
// }

.button-secondary {
  --btn-hue-label: #{$brand_color};
  --btn-hue-fill: #{$border-color};
  border: 2px solid var(--btn-hue-fill);
  background-color: transparent;

  &:hover {
    border: 2px solid var(--btn-hue-label);
    background-color: #E5EEFC;
  }
  &[data-disabled], &[disabled] {
    background-color: var(--btn-hue-fill);
    border: 0 solid var(--btn-hue-fill);
  }
}
