/* Sidebar navigation that collapses on mobile */
.collapsible-sidebar {
  @include desktop {
    max-height: none;
    padding: 0;
  }
  flex: 1;
  max-height: 4rem;
  overflow: hidden;
  padding: .6rem 1rem;
  position: relative;

  &-title {
    margin-top: 0;
  }

  &-body {
    @include desktop { display: block; }
    display: none;
  }

  &[aria-expanded="true"] {
    max-height: none;

    .collapsible-sidebar-body {
      display: block;
    }
  }
}
