
//Import dependencies
//@import "color-palettes";
//@import "color-functions";

//navy color
$swatch--primary-darkest: create-color("blue", "extra-dark");
$swatch--primary-dark: create-color("blue", "dark");
$swatch--primary: create-color("blue", "base");
$swatch--primary-light: create-color("blue", "light");
$swatch--primary-lightest: create-color("blue", "extra-light");

//green color
$swatch--success-darkest: create-color("green", "extra-dark");
$swatch--success-dark: create-color("green", "dark");
$swatch--success: create-color("green", "base");
$swatch--success-light: create-color("green", "light");
$swatch--success-lightest: create-color("green", "extra-light");

//aqua color
$swatch--aqua-darkest: create-color("aqua", "extra-dark");
$swatch--aqua-dark: create-color("aqua", "dark");
$swatch--aqua: create-color("aqua", "base");
$swatch--aqua-light: create-color("aqua", "light");
$swatch--aqua-lightest: create-color("aqua", "extra-light");

//purple color
$swatch--purple-darkest: create-color("purple", "extra-dark");
$swatch--purple-dark: create-color("purple", "dark");
$swatch--purple: create-color("purple", "base");
$swatch--purple-light: create-color("purple", "light");
$swatch--purple-lightest: create-color("purple", "extra-light");

//red color
$swatch--warning-darkest: create-color("red", "extra-dark");
$swatch--warning-dark: create-color("red", "dark");
$swatch--warning: create-color("red", "base");
$swatch--warning-light: create-color("red", "light");
$swatch--warning-lightest: create-color("red", "extra-light");

//orange color
//$swatch--orange-darkest: create-color("orange", "extra-dark");
//$swatch--orange-dark: create-color("orange", "dark");
//$swatch--orange: create-color("orange", "base");
//$swatch--orange-light: create-color("orange", "light");
//$swatch--orange-lightest: create-color("orange", "extra-light");

//yellow color
//$swatch--yellow-darkest: create-color("yellow", "extra-dark");
//$swatch--yellow-dark: create-color("yellow", "dark");
//$swatch--yellow: create-color("yellow", "base");
//$swatch--yellow-light: create-color("yellow", "light");
//$swatch--yellow-lightest: create-color("yellow", "extra-light");

//silver color
$swatch--silver-darkest: create-color("silver", "extra-dark");
$swatch--silver-dark: create-color("silver", "dark");
$swatch--silver: create-color("silver", "base");
$swatch--silver-light: create-color("silver", "light");
$swatch--silver-lightest: create-color("silver", "extra-light");

//grey color
$swatch--grey-darkest: create-color("grey", "extra-dark");
$swatch--grey-dark: create-color("grey", "dark");
$swatch--grey: create-color("grey", "base");
$swatch--grey-light: create-color("grey", "light");
$swatch--grey-lightest: create-color("grey", "extra-light");
