/***** Footer *****/
.footer {
  border-top: 1px solid $border-color;
  //margin-top: 60px;
  padding: 2.4rem 0;
  flex-shrink: 0;
  font-size: 1.4rem;
  background-color: #345;
  color: rgba(white,.6);
  @include desktop {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
  }
  min-height: 3.2rem;
  background: #345 url(https://cdn.cnetcontent.com/sites/pages/map.svg) no-repeat center;
  box-shadow: inset 0 1px 0 0 rgba(0,0,0,.3);

  a { font-size: 1.6rem; color: white; }

  &-inner {
    @include max-width-container;
    @include desktop {
      display: flex;
      justify-content: space-between;
    }
  }

  p {
    @include desktop {
      display: inline-flex;
      justify-content: space-evenly;
      line-height: 1;
    }
    a {
      padding: 0 4rem 0 0;
      cursor: pointer;
      display: block;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  // &-language-selector {
  //   color: $secondary-text-color;
  //   display: inline-block;
  //   font-weight: $font-weight-light;
  // }
}
