@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}

@function create-color-luminance($color) {
  $colors: ("red": red($color), "green": green($color), "blue": blue($color));
  @each $name, $value in $colors {
    $adjusted: 0;
    $value: $value / 255;
    @if $value < 0.03928 {
      $value: $value / 12.92;
    } @else {
      $value: ($value + .055) / 1.055;
      //Terrible hack to calculate pow($value, 2.4)
      $value: $value * $value;
    }
    $colors: map-merge($colors, ($name: $value));
  }
  @return (map-get($colors, "red") * .2126) + (map-get($colors, "green") * .7152) + (map-get($colors, "blue") * .0722);
}


//Invert a color
@function create-color-invert($color) {
  @if create-color-luminance($color) > 0.55 {
    @return black;
  } @else {
    @return white;
  }
}