/***** Hero component *****/
.hero {
  background-image: url('assets/hero-desktop-light.jpg');
  background-position: 50% 20%;
  background-size: cover;
  height: 248px;
  padding: 0 2rem;
  position: relative;
  text-align: center;
  font-weight: 600;
  width: 100%;
  @include tablet {
    height: 288px;
  }
  &:after {
    bottom: 0;
    content: "";
    left: 0;
    opacity: .64;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    background: var(--color-grey-100);
  }
  h2 {
    font-weight: 800;
    font-size: 3.2rem;
    margin: 0;
    color: black;
    text-align: center;
    text-shadow: 0 0 25px rgba(white, 0.25);
    padding-top: 2.4rem;
    display: block;
  }
  p {
    font-size: 1.6rem;
    font-weight: 500;
    text-shadow: 0 0 12.5px rgba(white, 0.125);
    margin-bottom: 0;
  }
  &-inner {
    @include vertical-align;
    max-width: $desktop-width;
    margin: 0 auto;
    z-index: 10;
  }
  .search {
    padding: 1.6rem 0 2.4rem;
    position: relative;
    display: flex;
    justify-content: space-around;
    max-width: 55.4rem;
    margin: auto;
    filter: drop-shadow(0 0 0.72rem var(--color-grey-200));

    &::before {
      z-index: 10;
      font-family: Material Icons;
      content: "search";
      font-size: 24px;
      color: var(--color-grey-500);
      font-weight: 400;
      position: absolute;
      left: 1.6rem;
      padding-top: .6rem;
    }

    input[type="search"] {
      border-radius: 3rem;
      border: none;
      padding-left: 5.6rem;
      font-size: 1.7rem;
      font-weight: 500;
      width: 100%;
      line-height: 4.8rem;
      height: 4.8rem;
      &:focus {
        color: $field-text-focus-color;
        font-weight: 600;
      }
    }
  }
}
