
// @import 'global.css/src/mixins/grid';
// @import 'global.css/src/mixins/ellipsis';

@import 'color-variables';

@mixin font-title($size: '$font-large', $weight: '$font-bold', $margin: '.5em auto') {
  font-family: $font-title;
  font-size: $size;
  font-weight: $weight;
  margin: $margin;
}

@mixin truncate {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@mixin input-placeholder {
  &.placeholder { @content; }
  &:-moz-placeholder { @content; }
  &::-moz-placeholder { @content; }
  &:-ms-input-placeholder { @content; }
  &::-webkit-input-placeholder { @content; }
}

// COLOR
@mixin contrast($color) {
  background-color: $color !important; 
  color: choose-contrast-color($color);
  fill: choose-contrast-color($color);
}
@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}
@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}
@mixin rgba($color, $opacity) {
  background-color: $color;
  background-color: rgba($color, $opacity); 
}

@mixin gradient-vertical($top: #248, $bottom: #247) {
  background-color: $top;
  background-image: -webkit-gradient(linear, left top, left bottom, from($top), to($bottom));
  background-image: linear-gradient(to bottom, $top 0%, $bottom 150%);
  background-repeat: repeat-x;
  background-size: 100%;
}

// SCALING
@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
