
:root {
  text-rendering: optimizeLegibility;
}

html {
  scroll-behavior: smooth;
}

.powered-by-zendesk {
  visibility: hidden;
}

#ccs-support--naviagtion {
  flex-wrap: wrap;
  padding: 1rem;
  .nav-wrapper {
    background: $hue-interface;
    border: solid 1px rgba($hue-outline,.9);
    width: 100%;
    border-radius: $border-radius;
  }
  .user-nav {
    min-height: 40px;
    display: flex;
    align-items: center;
    > a { 
      text-decoration: none;
      padding: 0 1rem;
      border-right: solid 1px $hue-line;
      line-height: 40px;
      font-weight: $font-semibold;
      font-size: $font-small + 1px;
    }
  }
}
 
#ccs-page {
  margin: 0 1rem;
  padding: 0;
  // #ccs-page--nav { }
  #ccs-page--title {
    padding: 0 1rem;
    background: $hue-interface;
    border-radius: $border-radius $border-radius 0 0;
    height: 2.5rem;
    align-content: center;
    align-items: center;
    display: flex;
    h1 {
      padding: 0;
      margin: 0;
    }
  }
  #ccs-page--wrapper {
    border-radius: $border-radius;
    background: white;
    border: solid 1px rgba($hue-outline,.9);    
  }
  #ccs-page--content {
    padding: 2rem;
  }
}


#ccs-support--page, #ccs-request-container {
  margin: 0 1rem;
  border-radius: $border-radius;
  background: white;
  border: solid 1px rgba($hue-outline,.9);
  #main-content {
    padding: 1rem 1rem;
  }
}

#ccs-category-container {
  margin: 0;
  border-radius: $border-radius;
  background: white;
  border: solid 1px rgba($hue-outline,.9);
  #main-content {
    padding: 1rem 1rem;
  }
}

#ccs-article-container,  {
  border-radius: $border-radius;
  background: white;
  padding: 0 1rem;
  border: solid 1px rgba($hue-outline,.9);
}

#ccs-support--header {
  background-color: #248;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#248), to(#247));
  background-image: linear-gradient(to bottom, #248 0%, #247 150%);
  background-repeat: repeat-x;
  background-size: 100%;
  color: white;
  min-height: 64px;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  img {
    display: block;
    margin: 0 1rem;
  }
  .spacer {
    height: 32px;
    width: 2px;
    box-shadow: inset -2px 0 0 0 rgba(153, 187, 221, 0.6);
    display: inline-block;
    margin: 0 2rem 0 1rem;
    overflow: hidden;
    font-size: 16px;  
  }
  .title {
    height: 32px;
    line-height: 32px;
    color: #9BD;
    font-family: Lato, sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    margin-top: 0;
    white-space: nowrap;
    display: -webkit-box;
    display: flex;
    overflow: hidden;
    margin: 0;
  }
}


