/***** Search field *****/
.search {
  position: relative;
  margin: 0 1rem;

  input[type="search"] {
    border: none;
    border-radius: $border-radius;
    box-sizing: border-box;
    height: 2.25rem;
    padding-left: 2.25rem;
    padding-right: 1rem;
    -webkit-appearance: none;
    width: 100%;
    //background: rgba(255,255,255,0.25);

    [dir="rtl"] & {
      padding-right: 3rem;
      padding-left: 1rem;
    }

    &:focus {
      color: $field-text-focus-color;
      background: white;
    }
  }
  
  ::placeholder {
    color: gray;
  }

  //&-full input[type="search"] {
  //  border: 1px solid #fff;
  //}
}

.search-icon {
  @include vertical-align;
  position: absolute;
  left: 1.2rem;
  z-index: 1;
  width: 32px;
  height: 32px;
  color: lightgray;

  [dir="rtl"] & {
    right: 1rem;
    left: auto;
  }

}

.search-container {
  position: relative;
  max-width: 376px;
  width: 100%;
  //&::before {
  //  z-index: 1;
  //  content: '';
  //  height: 30px;
  //  width: 40px;
  //  position: absolute;
  //  top: -7px;
  //  left: 1px;
  //  border-radius: 4px 0 0 4px;
  //  background: rgba(#F1F3F5,.8);
  //}
}
