
//Font Size -- 16px Base
$font-xlarge: 2rem !default;   // 1.25em
$font-large: 1.8rem !default;  // 1.125em
$font-normal: 1.6rem !default;     // 1em
$font-base: 1.4rem !default;   // 0.875em
$font-small: 1.2rem !default;   // 0.75em
$font-xsmall: 1rem !default;   // 0.625em

//Font Weight -- DONE
//$font-thin: 200 !default;
//$font-light: 300 !default;
$font-regular: 400 !default;
$font-medium: 400 !default;
$font-semibold: 700 !default;
$font-bold: 700 !default;
$font-heavy: 900 !default;

//Font Family  - DONE
$font-title: Lato, sans-serif !default;
$font-body: Lato, sans-serif !default;
$font-code: Roboto Mono, monospace !default;
$font-system: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Arial, sans-serif !default;
$font-icons: Material Icons, monospace !default;

//Site
$site-spacing: 8px !default; //check
$site-width: 1440px !default;

//Media Query -- DONE
$screen-lg: 1024px !default;
$screen-md: 959px !default;
$screen-sm: 469px !default;
$index-base: 10 !default;

//Border Width -- DONE
$border-width: 2px !default;
$stroke-width: 1px !default;

//Opacity
$opacity-soften: 0.9 !default;
$opacity-fade: 0.8 !default;
$opacity-sheer: 0.6 !default;

//Grays
$hue-dark: #123 !default;
$hue-text: #495867 !default;
$hue-muted: #89A !default;
$hue-line: #cfd9db !default;
$hue-disabled: #E3E6E9 !default;
$hue-silver: #EEF0F1 !default;
$hue-soft: #EFF3F4 !default;
$hue-softer: #EFF3F4 !default;

//Colors
$hue-primary: #25A !default;
$hue-success: #390 !default;
$hue-warning: #D34 !default;
$hue-active: rgba(221, 238, 255, 0.8) !default;
$hue-info: #09B !default;
$hue-navy: #136 !default;
$hue-azure: #0079CE !default;

//Wrapper
$drawer-color: #334455 !default;
$drawer-text: #89A!default;
$drawer-link: rgba($hue-silver,$opacity-soften) !default;
$drawer-active: #162534 !default;

$header-title: #add6fb !default;
$header-text: rgba($hue-silver,$opacity-fade) !default;
$header-height: 6.4rem;
$header-color: #18428f;

//Box Shadow
$box-overlay: 0 3px 5px -1px rgba(black, 0.2), 0 6px 10px 0 rgba(black, 0.1), 0 1px 18px 0 rgba(black, 0.1), 0 0 0 1px $hue-line !default;
$box-elevated: 0 0 1px 1px rgba($hue-line, 0.1), 0 2px 4px rgba(0,0,0,0.1) !default;
$box-active: inset 0 0 0 1px rgba(lighten($hue-primary,8),.8) !default;
$box-stroke: inset 0 0 0 $stroke-width $hue-line !default;
$box-stroke-top: inset 0 $stroke-width 0 0 rgba($hue-line, $opacity-sheer) !default;
$box-stroke-bottom: inset 0 ($stroke-width * -1) 0 0 rgba($hue-line, $opacity-sheer) !default;
$box-border: inset 0 0 0 1px $hue-line !default;
$box-border-left: inset $border-width 0 0 0 rgba($hue-line, $opacity-sheer) !default;
$box-border-top: inset 0 $border-width 0 0 rgba($hue-line, $opacity-sheer) !default;
$box-border-right: inset ($border-width * -1) 0 0 0 rgba($hue-line, $opacity-sheer) !default;
$box-border-bottom: inset 0 ($border-width * -1) 0 0 rgba($hue-line, $opacity-sheer) !default;

//Border Radius
$rounded-medium: .4rem !default;
$rounded-large: .6rem !default;

//Icon Size
$icon-small: 18px !default;
$icon-medium: 24px !default;
$icon-default: 32px !default;
$icon-large: 36px !default;
$icon-huge: 48px !default;

//Forms
$button-height: 3.2rem !default;
$button-size: $font-small !default;
$button-padding: 1.4rem !default;
$button-radius: .6rem !default;
$button-color: $hue-primary !default;

//$transition: all 300ms ease-in-out;
